<link href='https://fonts.googleapis.com/css?family=Amethysta' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Bilbo Swash Caps' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Doppio One' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
<div class="product-details-new-container"
     [ngStyle]="{'width.px': this.productDetailsDimension?.width}"
     #productDetailContainer
>
    <div class="product-new-title">{{this.dummyProduct.name}}</div>
    <div class="product-new-price">{{this.dummyProduct?.price | currency}} Ft</div>
    <!--<div class="product-new-family">{{this.dummyProduct.productFamily}}</div>-->
    <div class="product-new-color">{{this.dummyProduct.color}}</div>

    <!-- More color options btn start-->
    <div class="more-color-btn" (click)="this.openModal()">
        HASONLÓ TERMÉKEK
        <div class="play-button">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                 x="0px" y="0px"
                 viewBox="0 0 41.999 41.999" style="enable-background:new 0 0 41.999 41.999;" xml:space="preserve"
                 width="14" height="14">
<path d="M36.068,20.176l-29-20C6.761-0.035,6.363-0.057,6.035,0.114C5.706,0.287,5.5,0.627,5.5,0.999v40
	c0,0.372,0.206,0.713,0.535,0.886c0.146,0.076,0.306,0.114,0.465,0.114c0.199,0,0.397-0.06,0.568-0.177l29-20
	c0.271-0.187,0.432-0.494,0.432-0.823S36.338,20.363,36.068,20.176z"/>
</svg>
        </div>
    </div>
    <!-- More color option btn end-->

    <h3>Leírás</h3>
    <p>{{this.dummyProduct.productDesc}}</p>
    <h3>Termék jellemzők</h3>
    <div class="product-details-table">
        <div class="product-details-table-item-left">Szín</div>
        <div class="product-details-table-item-right"
        >{{this.dummyProduct.patternRep}}</div>
        <div class="product-details-table-item-left">Anyagösszetétel</div>
        <div class="product-details-table-item-right">{{this.dummyProduct.composition}}</div>
        <div class="product-details-table-item-left">Minta</div>
        <div class="product-details-table-item-right"
        >{{this.dummyProduct.annotation}}, meg ez meg az meg még
        </div>
        <div class="product-details-table-item-left">Stílus</div>
        <div class="product-details-table-item-right">{{this.dummyProduct.curtainType}}</div>
        <div class="product-details-table-item-left">Mintaismétlődés</div>
        <div class="product-details-table-item-right"
        >{{this.dummyProduct.patternRep}}</div>
    </div>
    <div style="display: flex; width: 310px; margin-bottom: 30px">
        <div><h3>Ár {{this.dummyProduct.price |currency}} Ft</h3></div>
    </div>
    <div style="display: flex; flex-wrap: wrap; width: 400px; align-items: center; margin-left: 10px">
        <app-plus-minus-input [initialValue]="this.localQty"
                              [prodId]="this.item.id"></app-plus-minus-input>
        <div style="margin-left: 15px; font-size: 1.5rem; padding-bottom: 3px">tekercs</div>
    </div>

    <div style="display: flex; flex-wrap: wrap; width: 100%; justify-content: space-evenly">
        <!--megrendelem btn -->
        <div class="order-btn"  >
            Kosárhoz ad
            <div class="play-button">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                     x="0px" y="0px"
                     viewBox="0 0 41.999 41.999" style="enable-background:new 0 0 41.999 41.999;" xml:space="preserve"
                     width="14" height="14" fill="#fde6de">
<path d="M36.068,20.176l-29-20C6.761-0.035,6.363-0.057,6.035,0.114C5.706,0.287,5.5,0.627,5.5,0.999v40
	c0,0.372,0.206,0.713,0.535,0.886c0.146,0.076,0.306,0.114,0.465,0.114c0.199,0,0.397-0.06,0.568-0.177l29-20
	c0.271-0.187,0.432-0.494,0.432-0.823S36.338,20.363,36.068,20.176z"/>
</svg>
            </div>

        </div>
        <!--megrendelem btn end-->

        <!--whislist btn start -->
        <div class="whis-list-btn">
            Kedvencekhez ad
        </div>
        <!--whislist btn end-->
    </div>
    <app-decorate-modal *ngIf="isModalOpen"
                        [show]="this.isModalOpen"
                        (modalClosed)="closeModal()"
                        [fadedBackground]="true"
                        [centered]="true"
                        [animationStart]="'40%'"
                        [whitShadow]="true"
                        [modalState]="this.modalState"
    >
        <div class="similar-item-container" appCssAnimationState>
            <ng-container *ngFor="let similarProduct of similarProducts">
                <app-similar-item [product]="similarProduct"></app-similar-item>
            </ng-container>

            <!-- close btn start  -->
            <svg width="40" height="40" xmlns="http://www.w3.org/2000/svg" class="modal-close-btn"
                 (click)="startModalClose()"
            >
                <g>
                    <rect fill="none" id="canvas_background" height="42" width="42" y="-1" x="-1"/>
                </g>
                <g>
                    <g id="svg_20">
                        <ellipse stroke="null" ry="20" rx="20" id="svg_19" cy="20" cx="20" stroke-width="1.5"
                                 fill="#c6d7cd"/>
                        <g stroke="null" id="svg_2">
                            <path stroke="null" id="svg_3"
                                  d="m20.90242,20.00003l7.07811,-6.71653c0.2492,-0.23647 0.2492,-0.61986 0,-0.8563c-0.2492,-0.23644 -0.65323,-0.23647 -0.9024,0l-7.07815,6.71653l-7.07811,-6.71653c-0.2492,-0.23647 -0.65323,-0.23647 -0.9024,0c-0.24917,0.23647 -0.2492,0.61986 0,0.8563l7.07811,6.7165l-7.07811,6.71653c-0.2492,0.23647 -0.2492,0.61986 0,0.8563c0.12458,0.11822 0.2879,0.17731 0.45122,0.17731c0.16332,0 0.3266,-0.05909 0.45122,-0.17731l7.07808,-6.7165l7.07811,6.7165c0.12458,0.11822 0.2879,0.17731 0.45122,0.17731s0.3266,-0.05909 0.45122,-0.17731c0.2492,-0.23647 0.2492,-0.61986 0,-0.8563l-7.07811,-6.7165z"/>
                        </g>
                    </g>
                </g>
            </svg>
        </div>
        <!--  close btn end  -->
    </app-decorate-modal>

