.products-container {
  display: grid;
  grid-template-columns: minmax(1rem, 250px)  1fr minmax(1rem, 250px);
  grid-template-rows: 70px 1fr;
  grid-template-areas: ". . ."
                  ". content .";
}

.products-content-wrapper {
  grid-area: content;
}

@media screen and (max-width: 1450px) {
  .products-container {
    display: grid;
    grid-template-columns: minmax(1rem, 25px)  1fr minmax(1rem, 25px);
    grid-template-rows: 70px 1fr;
    grid-template-areas: ". . ."
    ". content .";
  }


}
