<app-navbar>
    <app-content-header></app-content-header>
    <div class="products-container" #productContainer>
        <div class="products-content-wrapper" #productContent>
            <header>
                <app-products-header></app-products-header>
            </header>
            <app-products-filter (productContentScreenAttributes)="setScreenAttributes()"></app-products-filter>
            <app-active-filters *ngIf="this.screenControl.largeScreen"></app-active-filters>
            <app-products-list [products]="products"></app-products-list>
        </div>
    </div>
    <app-footer></app-footer>
</app-navbar>

