.product-list-card-container {
  display: grid;
  height: 22vw;
  min-height: 375px;
  max-height: 425px;
  grid-template-rows: 275px 1fr;
  grid-row-gap: 5px;
  z-index: 1;
  cursor: pointer;

}

.product-list-card-container:hover {
  box-shadow: 0 0 5px 5px grey;
}

.product-list-card-img {
  position: relative;
  display: grid;
  grid-row: 1 / 2;
  max-height: 300px;
}

.animate__fadeInCustom {
  -webkit-animation-name: fadeInMake;
  animation-name: fadeInMake
}

@keyframes fadeInMake {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

.product-list-card-text {
  display: grid;
  grid-row: 2 / 3;
  justify-content: center;
  align-items: center;
  background-color: beige;
  min-height: 75px;

}

.product-list-card-text-flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;

}

.product-list-card-text-flex-container div {
  margin-top: 5px;
}


.product-list-card-control-like {
  position: absolute;
  margin-left: 10px;
  top: 83%;
  left: 52%;
  border-radius: 45%;

  z-index: 99;
}

.product-list-card-control-like-white-background {
  top: 4%;
  left: 3%;
  position: absolute;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: white;
  z-index: -1;

}

.product-list-card-control-like-grey-background {
  position: absolute;
  top: 4%;
  left: 3%;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  background-color: lightgray;
  z-index: -1;
}

.product-list-card-control-basket {
  position: absolute;
  top: 83%;
  left: 34%;
  height: 33px;
  width: 33px;
  padding-left: 5.5px;
  border-radius: 50%;
  background-color: white;
  border: solid 2px plum;
}

.product-list-card-control-basket:hover {
  background-color: lightgray;
}

@media all and (max-width: 599px) {
  .product-list-card-container {
    display: grid;
    height: 25vw;
    min-height: 300px;
    grid-template-rows: 2.5fr 1fr;
  }
}


