*:focus {
    outline: none;
}

@media screen and (min-width: 900px) {
    .content {
        height: 42vw;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-areas: "a1 a2 a3" "b1 b2 a3";
    }

    .grig-down {
        grid-area: a2;
    }

    .grid-up {
        grid-area: b1;
    }

    .firstCard {
        grid-area: a1;
    }

    .secondCard {
        grid-area: b2;
    }

    .thirdCard {
        grid-area: a3;
        display: grid;
        grid-template-columns: 1fr 1fr 0.3fr;
        grid-template-rows: 0.5fr 1fr 0.5fr;
        grid-template-areas: "a b ." "d e ." "i j .";
    }

    p {
        font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
        font-size: 1.9vw;
        color: var(--primaryWhite);
        padding-top: 10px;
    }

    span {
        font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
        font-size: 0.9vw;
        color: var(--primaryWhite);
    }
}
@media screen and (max-width: 899px) {
    .content {
        height: 150vw;
        display: grid;
        grid-template-rows: 1fr 1fr 2fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a1 a2" "b1 b2" "c1 c1";
    }

    .grig-down {
        grid-area: b1;
    }

    .grid-up {
        grid-area: a2;
    }

    .firstCard {
        grid-area: a1;
    }

    .secondCard {
        grid-area: b2;
    }

    .thirdCard {
        grid-area: c1;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 0.5fr 1fr 0.5fr;
        grid-template-areas: "a b c" "d e f" "i j k";
    }
    .mozaik-down:before {
        left: 99.5%;
        bottom: 35%;
        transform: rotate(-90deg);
    }
    .mozaik-up:before {
        right: 99.5%;
        top: 35%;
        transform: rotate(-90deg);
    }

    p {
        display: none;
    }
    span {
        font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
        font-size: 3vw;
        color: var(--primaryWhite);
    }

}
