.content {
    height: 90vh;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-areas: "a1 a2 a3" "b1 b2 a3";

}
.grig-down {
    grid-area: a2;
}

.grid-up {
    grid-area: b1;
}
.firstCard {
    position: relative;
    grid-area: a1;
    background: url("src/assets/Blacl out főoldal fotó.jpg") no-repeat center center;
    background-size: cover;
    overflow: hidden;
    transition: all .8s;
}

.firstCard::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    transition: inherit;
}

.firstCard:hover::before {
    transform: scale(1.1);
}

.secondCard {
    position: relative;
    grid-area: b2;
    background: url("src/assets/Gyerekfüggöny főoldal fotó.jpg") no-repeat center center;
    background-size: cover;
    overflow: hidden;
    transition: all .8s;
    filter: brightness(80%);
}

.secondCard::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    transition: inherit;
}

.secondCard:hover::before {
    transform: scale(1.1);
}

.thirdCard {
    position: relative;
    grid-area: a3;
    background: url("src/assets/Bútorszövet főoldal fotó.jpg") no-repeat center center;
    background-size: cover;
    overflow: hidden;
    transition: all .8s;
}
.thirdCard::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: inherit;
    transition: inherit;
}

.thirdCard:hover::before {
    transform: scale(1.1);
}
