<div class="content">
    <div class="card-direction firstCard">
    </div>
    <div class="mozaik-up grid-up">
        <div class="mozaik-text-container">
            <h4 class="mozaik-text"> Black Out <br>függöny </h4>
            <p> Teljes sötétítést biztosító függönyök </p>
        </div>
    </div>
    <div class="card-direction secondCard">
    </div>
    <div class="mozaik-down grid-down">
        <div class="mozaik-text-container">
            <h4 class="mozaik-text"> Gyerek <br>függöny </h4>
            <p> Különleges függöny </p>
        </div>
    </div>
    <div class="card-direction thirdCard">
    </div>



</div>
