<div class="content">
    <div class="card-direction firstCard" appBackgroundImg [mainBackgroundImage]="this.blackout ">
    </div>
    <div class="mozaik-up grid-up">
        <div class="mozaik-text-container">
            <h4 class="mozaik-text"> Black Out <br>függöny </h4>
            <p> Teljes sötétítést biztosító függönyök </p>
        </div>
    </div>
    <div class="card-direction secondCard" appBackgroundImg [mainBackgroundImage]="this.children ">
    </div>
    <div class="mozaik-down grid-down">
        <div class="mozaik-text-container">
            <h4 class="mozaik-text"> Gyerek <br>függöny </h4>
            <p> Különleges függöny </p>
        </div>
    </div>
    <div class="card-direction thirdCard"  appBackgroundImg [mainBackgroundImage]="this.furniture ">
        <div class="desc-backgr">
        </div>
        <div class="desc-text">
            <h3 class="text">Textil kiegészítők<br>
            </h3>
            <p> Egyedi, kézműves alkotások</p>
            <button type="button" class="detailsButton ">
                Kínálatunk
            </button>
        </div>
    </div>


</div>
