*:focus {
    outline: none;
}

.basket-container {
    display: grid;
    grid-template-columns: minmax(20px, 1fr) 3.5fr minmax(20px, 1fr);
    grid-template-areas: 'a b c';

    margin-bottom: 50px;
}

.basket-wrapper {
    grid-area: b;
    background-color: var(--primaryWhite);
}

