.filter-container {
  display: flex;
  gap: 3rem;
  flex-direction: row;
}

.filter-element {
  position: relative;
}

.modal-container {
  position: absolute;
  z-index: 1;
}

a {
  font-family: Arial;
  color: #222;
  text-decoration: none;
  font-size: 1.2rem;
}

i {
  padding-left: 0.5rem;
}

.push {
  margin-left: auto;
}
