<footer>
  <div class="footer-media">
    <h1>media</h1>
    <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque consectetur eaque ex illo iusto, non provident
      quas quos reprehenderit. Dicta distinctio explicabo impedit laborum odit sit soluta tenetur voluptate voluptatem.
    </div>
    <div>Commodi consequatur corporis eius nam quidem? Accusamus asperiores aspernatur consequatur dolore, enim esse et
      maxime minus neque nulla officiis quae quidem tenetur totam, veritatis! Aspernatur esse exercitationem inventore
      nulla voluptas!
    </div>
  </div>
  <div class="footer-menu">
    <div class="flex-container">
      <h1>menu</h1>
      <a>Fő oldal</a>
      <a>Dekor tapéta</a>
      <a>Ifjusági tapéta</a>
      <a>Panel tapéta</a>
      <a>opcio op</a>
      <a>opcio op</a>
      <a>opcio op</a>
      <a>opcio op</a>
    </div>
  </div>
  <div class="footer-info">
    <div class="flex-container">
      <h1>info</h1>
      <a>info info</a>
      <a>info info</a>
      <a>info info</a>
      <a>info info</a>
      <a>info info</a>
      <a>info info</a>
      <a>info info</a>
      <a>info info</a>
    </div>
  </div>
  <div class="footer-contact">
    <div class="flex-container">
      <h1>contact</h1>
      <a>contact</a>
      <a>contact</a>
      <a>contact</a>
      <a>contact</a>
      <a>contact</a>
      <div class="contact-social-container">
        <a><i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i></a>
        <a><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></a>
        <a><i class="fa fa-pinterest-square fa-2x" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="footer-pay">
    <h1>pay</h1>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab aperiam aut deleniti deserunt ducimus eaque error
    fugiat in, minima optio porro, quas quis rem sint totam unde, vero vitae voluptate?
  </div>


</footer>
