@media screen and (min-width: 760px) {
  footer {
    display: grid;
    background: #fde6de;
    grid-template-columns: minmax(400px, auto) 275px;
    grid-column-gap: 1em;
    padding-top: 3em;
    padding-left: 2em;
    padding-right: 2em;
  }

  .footer-media {
    display: block;
  }

  .footer-menu {
    display: block;
  }

  .footer-info {
    display: block;
  }

  .footer-contact {
    display: block;
  }

  .footer-pay {
    grid-column: 1 / -1;
  }
}

@media screen and (min-width: 1450px) {

  footer {
    display: grid;
    height: 400px;
    background: #fde6de;
    grid-template-columns: minmax(2em, 300px) 425px 275px 275px minmax(350px, 425px) minmax(2em, 300px);
    grid-template-areas: ". media menu info contact ." "p p p p p p";
    grid-column-gap: 1em;
    padding-top: 3em;
  }

  .footer-media {
    grid-area: media;
  }

  .footer-menu {
    grid-area: menu;

  }

  .footer-info {
    grid-area: info;
  }

  .footer-contact {
    grid-area: contact;
  }

  .footer-pay {
    grid-area: p;
    text-align: center;
  }
}

@media screen and (max-width: 759px) {
  footer {
    display: flex;
    flex-direction: column;
    padding-right: 1em;
    padding-left: 1em;
    align-items: center;
    background: #fde6de;
  }

  .footer-media {
    padding-top: 2em;
    order: 1;
    width: 90%;
  }

  .footer-menu {
    padding-top: 2em;
    order: 2;
    width: 75%;
  }

  .footer-info {
    padding-top: 2em;
    order: 3;
    width: 75%;
  }

  .footer-contact {
    padding-top: 2em;
    order: 4;
    width: 90%;
  }

  .footer-pay {
    padding-top: 2em;
    order: 5;
    width: 90%;
  }
}

