<!-- Footer -->
<footer class="container-grid">


    <ul class="">
        <li>
            <a href="#!">Very long link 1</a>
        </li>
        <li>
            <a href="#!">Very long link 2</a>
        </li>
        <li>
            <a href="#!">Very long link 3</a>
        </li>
        <li>
            <a href="#!">Very long link 4</a>
        </li>
    </ul>

    <ul class="">
        <li>
            <a href="#!">Very long link 1</a>
        </li>
        <li>
            <a href="#!">Very long link 2</a>
        </li>
        <li>
            <a href="#!">Very long link 3</a>
        </li>
        <li>
            <a href="#!">Very long link 4</a>
        </li>
    </ul>

    <ul class="">
        <li>
            <a href="#!">Very long link 1</a>
        </li>
        <li>
            <a href="#!">Very long link 2</a>
        </li>
        <li>
            <a href="#!">Very long link 3</a>
        </li>
        <li>
            <a href="#!">Very long link 4</a>
        </li>
    </ul>
    <ul class="">
        <li>
            <a href="#!">Very long link 1</a>
        </li>
        <li>
            <a href="#!">Very long link 2</a>
        </li>
        <li>
            <a href="#!">Very long link 3</a>
        </li>
        <li>
            <a href="#!">Very long link 4</a>
        </li>
    </ul>
</footer>

<div class="footer-copyright text-center py-3 footer-cop">© 2020 Copyright:
    <span> Máté és Zsolt</span>
</div>

