@media screen and (min-width: 1000px) {
    .content {
        height: 32vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a1 a2 ";
    }

    p {
        font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
        font-size: 1.9vw;
        color: whitesmoke;
        padding-top: 10px;
    }

    .firstCard {
        grid-area: a1;
        display: grid;
        grid-template-columns: 1fr 1fr 0.2fr;
        grid-template-rows: 0.5fr 1fr 0.5fr;
        grid-template-areas: "a b ." "d e ." "i j .";
        background: url("src/assets/Tapéta főoldal fotó.jpg") no-repeat center center;
        background-size: cover;
        filter: brightness(80%);
    }

    .secondCard {
        grid-area: a2;
        display: grid;
        grid-template-columns: 1fr 1fr 0.2fr;
        grid-template-rows: 0.5fr 1fr 0.5fr;
        grid-template-areas: "a b ." "d e ." "i j .";
        background: url("src/assets/Lakástextil kiegészítők főoldal fotó.jpg") no-repeat center center;
        background-size: cover;
        filter: brightness(80%);
    }

    span {
        font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
        font-size: 0.9vw;
        color: white;
    }
}

@media screen and (max-width: 999px) {
    .content {
        height: 60vh;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a1 a1" "b1 b1 ";
    }

    .firstCard {
        grid-area: a1;
        display: grid;
        grid-auto-columns: 0.1fr 1fr 0.1fr;
        grid-template-columns: 0.7fr 2fr 0.7fr;
        grid-template-areas: ". . . " ". e . " ". . . ";
        background: url("src/assets/Tapéta főoldal fotó.jpg") no-repeat center center;
        background-size: cover;
    }

    .secondCard {
        grid-area: b1;
        display: grid;
        grid-auto-columns: 0.2fr 1fr 0.2fr;
        grid-template-columns: 0.7fr 2fr 0.7fr;
        grid-template-areas: ". . . " ". e . " ". . . ";
        background: url("src/assets/Lakástextil kiegészítők főoldal fotó.jpg") no-repeat center center;
        background-size: cover;
    }

    p {
        display: none;
    }

    span {
        font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
        font-size: 3vw;
        color: white;
    }
}
