@media screen and (min-width: 900px) {
    .content {
        height: 32vw;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a1 a2 ";
    }

    p {
        font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
        font-size: 1.9vw;
        color: whitesmoke;
        padding-top: 10px;
    }

    .firstCard {
        grid-area: a1;
        display: grid;
        grid-template-columns: 1fr 1fr 0.2fr;
        grid-template-rows: 0.5fr 1fr 0.5fr;
        grid-template-areas: "a b ." "d e ." "i j .";
    }

    .secondCard {
        grid-area: a2;
        display: grid;
        grid-template-columns: 1fr 1fr 0.2fr;
        grid-template-rows: 0.5fr 1fr 0.5fr;
        grid-template-areas: "a b ." "d e ." "i j .";
    }
}

@media screen and (max-width: 899px) {
    .content {
        height: 125vw;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a1 a1" "b1 b1 ";
    }

    .firstCard {
        grid-area: a1;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: ". . . " ". e . " ". . . ";

    }

    .secondCard {
        grid-area: b1;
        display: grid;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: ". . . " ". e . " ". . . ";
    }

    p {
        font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
        font-size: 3.5vw;
        color: whitesmoke;
        padding-top: 10px;
    }

}
