<div class="content">
    <div class="firstCard">
        <div class="desc-backgr">
        </div>
        <div class="desc-text">
            <h3 class="text">Tapéta
            </h3>
            <p>Luxus tapéták Angliából és Olaszországból</p>
            <button type="button" class="detailsButton ">
                <span> VÁLASZTÉK</span>
            </button>
        </div>
    </div>
    <div class="secondCard">
        <div class="desc-backgr">
        </div>
        <div class="desc-text">
            <h3 class="text">Lakásdekorációs <br>kiegészítők
            </h3>
            <p>Faliképek a tökéletes harmónia megteremtéséért</p>
            <button type="button" class="detailsButton ">
                <span> VÁLASZTÉK</span>
            </button>
        </div>
    </div>
</div>
