nav {
  display: flex;
  background: var(--primaryGreen);
  height: 60px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030
}

nav ul {
  float: left;
}

nav ul li {
  float: left;
  list-style: none;
  position: relative;
}

nav div a {
  display: block;
  font-family: Arial;
  color: #222;
  font-size: 1rem;
  padding: 19.5px 24px;
  text-decoration: none;
}


nav div a:hover {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.make-left {
  padding-left: 45px !important;
}

.make-right {
  padding-right: 45px !important;
}

.burger {
  padding: 12px 20px 17.5px 30px !important;
  text-decoration: none;
}



