*:focus {
    outline: none;
}

.menu-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    background-color: var(--primaryGreen);
    color: black;
}

nav {
    background-color: var(--primaryGreen);
    color: black;
    height: 64px;
}

mat-toolbar-row {
    padding: 0 0 0 20px;
}

.button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.nav-btn {
    display: flex;
    height: 80%;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
}

.nav-btn:hover {
    color: black;
    background-color: var(--primaryGray);
}

.product-btn {
    background-color: var(--primaryGray);
    height: 100%;
}

p {
    font-size: .8rem;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Pluto Sans W01 Regular', serif
}

mat-sidenav {
    background-color: var(--primaryGray);
    width: 100%;
}

.mat-list-item {
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
}

em {
    padding-right: 10px;
    font-size: 1rem;
}


.slide-right {
    -webkit-animation: slide-right 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-right 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.slide-left {
    -webkit-animation: slide-left 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-left 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes slide-left {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.make-side-bar {
    position: fixed;
    top: 64px;
    left: 0;
    width: calc(100%);
    height: calc(100% - 64px);
    background-color: #e8e8e8;
    z-index: 1050;
}


@media all and (max-width: 600px) {
    .make-side-bar {
        position: fixed;
        top: 56px;
        left: 0;
        width: calc(100%);
        height: calc(100%);
        background-color: #e8e8e8;
    }

}

.sideBar-content {
    display: flex;
    flex-direction: column;
}

.sideBar-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow-position {
    display: flex;

}

a {
    text-decoration: none;
    color: black;
    display: block;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: 'Pluto Sans W01 Regular', serif;
    line-height: 2rem;
    padding: 5px 20px;
    cursor: pointer;
}

.make-side-bar a:hover {
    background-color: #cccccc;
}

.arrow, .bottom-arrow, .up-arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 10px;
}

.bottom-arrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-right: 10px;
}
.up-arrow {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-right: 10px;
}
.product-type {
    padding: 5px 0 5px 20px;
}


