.products-modal-container-anti {
  display: none;
}

.products-modal-order-container {
  display: flex;
  width: 175px;
  flex-direction: column;

}

.products-modal-color-container {
  display: flex;
  width: 175px;
  flex-direction: column;
  position: absolute;

}

.order-element-active {
  background: #555555;
}


div {
  flex-direction: row;
  background: greenyellow;
  width: 100%;
  text-align: center;

}

i {
   padding-right: 0.5rem;
 }

a {
  padding-top: 7px;
  font-family: Arial, fantasy;
  color: #222;
  text-decoration: none;
  font-size: 1.2rem;
  display: inline-block;
  width: 100%;
}

a:hover {
  background: lightgrey;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.show {
  display: flex;
  width: 175px;
}
