<div  class="dropdown-content"
      [ngClass]="{'show': this.modalControl.control === 'order' && this.modalControl.showModal}"
      (click)="this.keepModalOnScreen()"
>
  <a>Link 1</a>
  <a>Link 2</a>
  <a>Link 3</a>
</div>

<div  class="dropdown-content"
      [ngClass]="{'show': this.modalControl.control === 'color' && this.modalControl.showModal}"
      (click)="this.keepModalOnScreen()"
>
  <a>Link 1</a>
  <a>Link 2</a>
  <a>Link 3</a>
</div>

<!--
<div class="products-modal-container-anti"
     (click)="this.keepModalOnScreen()"
     [ngClass]="{'products-modal-order-container': this.modalControl.control === 'order' && this.modalControl?.showModal}"
>
  <ng-container *ngIf="this.modalControl.control === 'order' && this.modalControl.showModal">
    <div *ngFor="let order of this.modalContent.order">
      <a (click)="handleActiveOrders(order)" *ngIf="!this.activeOrders.includes(order)"><i class="fa fa-circle-thin"
                                                                                           aria-hidden="true"></i>{{order}}
      </a>
      <a (click)="handleActiveOrders(order)" *ngIf="this.activeOrders.includes(order)"><i class="fa fa-circle"
                                                                                          aria-hidden="true"></i>{{order}}
      </a>
    </div>
  </ng-container>
</div>

<div class="products-modal-container-anti"
     (click)="this.keepModalOnScreen()"
     [ngClass]="{'products-modal-color-container': this.modalControl.control === 'color' && this.modalControl?.showModal}"
>
  <ng-container *ngIf="this.modalControl.control === 'color' && this.modalControl.showModal">
    <div *ngFor="let color of this.modalContent.color">
      <a (click)="handleActiveOrders(color)" *ngIf="!this.activeOrders.includes(color)"><i class="fa fa-circle-thin"
                                                                                           aria-hidden="true"></i>{{color}}
      </a>
      <a (click)="handleActiveOrders(color)" *ngIf="this.activeOrders.includes(color)"><i class="fa fa-circle"
                                                                                          aria-hidden="true"></i>{{color}}
      </a>
    </div>
  </ng-container>
</div>
-->
