.basket-item-grid {
    display: flex;
    align-items: center;
    background-color: white;
    width: 60vw;
}

.basket-img {
    display: flex;
    flex: 2;
}

.basket-img > p {
    width: 8vw;
    overflow: hidden;
    white-space: initial;
    text-align: center;
    margin: 0px;
    align-self: center;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    font-weight: bolder;
    font-size: 15px;
}

.price {
    flex: 1;
    align-self: center;
    text-align: center;
}

img {
    width: 100px;
    height: 100px;
    margin: 20px;
}

.qty {
    flex: 2;
    display: flex;
    justify-content: center;
}
