<div class="basket-item-grid">
    <div class="basket-img">
        <img [src]="product.img" alt="">
        <p>valamivvvvvvvvvv vvvvvvfvvvvvv vvvvvvvvvvvvvvvvvv vvvvvvvv</p>
    </div>
    <div class="qty ">
        <app-plus-minus-input [step]="1" [min]="0" [max]="100" [initialValue]="1" ariaLabelLess="Less 10"
                              ariaLabelMore="Plus 10"></app-plus-minus-input>
    </div>
    <div class="price">
        {{product.price}}
    </div>
    <div class="price">
        {{product.totalPrice}}
    </div>
</div>

