*:focus {
    outline: none;
}

@media screen and (min-width: 1000px) {
    .content-header {
        background-color: var(--primaryGray);
        height: 220px;
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: 70px 150px;
        grid-template-rows: 70px 150px;
        -ms-grid-columns: minmax(360px, 0.4fr) 1fr minmax(350px, 0.4fr);
        grid-template-columns: minmax(360px, 0.4fr) 1fr minmax(350px, 0.4fr);
        grid-template-areas: "h1 h2 h3" "i1 i2 i3";
        padding-left: 32px;
        padding-right: 32px;
        margin-top: 0;
        padding-top: 0;
    }

    .dot, .mail-icon {
        grid-area: i1;
        height: 50px;
        width: 50px;
        background-color: var(--primaryWhite);
        border-radius: 50%;
        border: 1px solid #CCCCCC;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-left: 10px;
        cursor: pointer;
        -webkit-transition: 700ms;
        transition: 700ms;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
    }

    .mail-icon {
        margin-right: 10px;
    }

    .icons {
        grid-area: i1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .phone {
        grid-area: i3;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: right;
        -ms-flex-pack: right;
        justify-content: right;
    }

    .telIcon {
        margin-left: auto;
        height: 50px;
        width: 14rem;
        background-color: var(--primaryWhite);
        border-radius: 15px;
        border: 1px solid #CCCCCC;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        cursor: pointer;
        -webkit-transition: 700ms;
        transition: 700ms;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
    }

    .telIcon > p {
        margin: 0px;
        font-size: 1rem;
    }

    .telIcon > div {
        margin-right: 10px;
    }

    .dot:hover, .telIcon:hover, .mail-icon:hover {
        background-color: #C5C5C5;
    }

    #imgMail {
        width: 30px;
    }

    #imgTel {
        width: 2rem;
        margin-right: 10px;
    }

    img {
        width: 150px;
        height: 150px;

    }

    .logo {
        grid-area: i2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}


@media screen and (min-width: 730px) and (max-width: 999px) {
    .content-header {
        background-color: var(--primaryGray);
        height: 220px;
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: 70px 150px;
        grid-template-rows: 70px 150px;
        -ms-grid-columns: minmax(200px, 0.4fr) 1fr minmax(200px, 0.4fr);
        grid-template-columns: minmax(200px, 0.4fr) 1fr minmax(200px, 0.4fr);
        grid-template-areas: "h1 h2 h3" "i1 i2 i3";
        padding-left: 32px;
        padding-right: 32px;
        margin-top: 0;
        padding-top: 0;
    }

    .dot, .mail-icon, .telIcon {
        height: 50px;
        width: 50px;
        background-color: var(--primaryWhite);
        border-radius: 50%;
        border: 1px solid #CCCCCC;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-left: 10px;
        cursor: pointer;
        -webkit-transition: 700ms;
        transition: 700ms;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
    }

    .mail-icon {
        margin-right: 10px;
    }

    .icons {
        grid-area: i1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .phone {
        grid-area: i3;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: right;
        -ms-flex-pack: right;
        justify-content: right;
    }

    p {
        display: none;
    }

    .dot:hover, .telIcon:hover, .mail-icon:hover {
        background-color: #C5C5C5;
    }

    img {
        width: 150px;
        height: 150px;

    }

    .logo {
        grid-area: i2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .dot, .mail-icon {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .icons {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .phone {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }
    .logo {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }

}

@media screen and (min-width: 600px) and (max-width: 730px) {
    .content-header {
        background-color: var(--primaryGray);
        height: 190px;
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: 70px 120px;
        grid-template-rows: 70px 120px;
        -ms-grid-columns: minmax(100px, 0.4fr) 1fr minmax(100px, 0.4fr);
        grid-template-columns: minmax(100px, 0.4fr) 1fr minmax(100px, 0.4fr);
        grid-template-areas: "h1 h2 h3" "i1 i2 i3";
        padding-left: 32px;
        padding-right: 32px;
        margin-top: 0;
        padding-top: 0;
    }

    .icons {
        grid-area: i1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .dot, .mail-icon, .telIcon {
        height: 50px;
        width: 50px;
        background-color: var(--primaryWhite);
        border-radius: 50%;
        border: 1px solid #CCCCCC;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-left: 10px;
        cursor: pointer;
        -webkit-transition: 700ms;
        transition: 700ms;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
    }

    .mail-icon {
        margin-right: 10px;
    }

    .phone {
        grid-area: i3;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    p {
        display: none;
    }

    .dot:hover, .telIcon:hover, .mail-icon:hover {
        background-color: #C5C5C5;
    }

    img {
        width: 120px;
        height: 120px;

    }

    .logo {
        grid-area: i2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .dot, .mail-icon {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .icons {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .phone {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }
    .logo {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    .icons {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .phone {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }
    .logo {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
}

@media screen and (min-width: 400px) and (max-width: 599px) {
    .content-header {
        background-color: var(--primaryGray);
        height: 180px;
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: 60px 120px;
        grid-template-rows: 60px 120px;
        -ms-grid-columns: minmax(100px, 0.4fr) 1fr minmax(100px, 0.4fr);
        grid-template-columns: minmax(100px, 0.4fr) 1fr minmax(100px, 0.4fr);
        grid-template-areas: "h1 h2 h3" "i1 i2 i3";
        padding-left: 32px;
        padding-right: 32px;
        margin-top: 0;
        padding-top: 0;
    }

    .icons {
        grid-area: i1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }

    .dot, .mail-icon, .telIcon {
        height: 50px;
        width: 50px;
        background-color: var(--primaryWhite);
        border-radius: 50%;
        border: 1px solid #CCCCCC;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        margin-left: 10px;
        cursor: pointer;
        -webkit-transition: 700ms;
        transition: 700ms;
        -webkit-transition-timing-function: linear;
        transition-timing-function: linear;
    }

    .mail-icon {
        margin-right: 10px;
    }

    .phone {
        grid-area: i3;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: flex-end;
    }

    p {
        display: none;
    }

    .dot:hover, .telIcon:hover, .mail-icon:hover {
        background-color: #C5C5C5;
    }

    img {
        width: 120px;
        height: 120px;

    }

    .logo {
        grid-area: i2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .dot, .mail-icon {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .icons {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .phone {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }
    .logo {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    .icons {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .phone {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }
    .logo {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
}
@media screen and  (max-width: 399px) {
    .content-header {
        background-color: var(--primaryGray);
        height: 180px;
        display: -ms-grid;
        display: grid;
        -ms-grid-rows: 60px 120px;
        grid-template-rows: 60px 120px;
        -ms-grid-columns:  0.4fr 1fr  0.4fr;
        grid-template-columns:  0.4fr 1fr  0.4fr;
        grid-template-areas: "h1 h2 h3" "i1 i2 i3";
        margin-top: 0;
        padding-top: 0;
    }

    img {
        width: 120px;
        height: 120px;

    }

    .logo {
        grid-area: i2;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .icons {
        display: none;
    }

    .phone {
        display: none;
    }
    .dot, .mail-icon {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .icons {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .phone {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }
    .logo {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    .icons {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .phone {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }
    .logo {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    .icons {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .phone {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }
    .logo {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
}

@media screen and (min-width: 1000px) {
    .dot, .mail-icon {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .icons {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .phone {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }
    .logo {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    .icons {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .phone {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }
    .logo {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    .icons {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .phone {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }
    .logo {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    .logo {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
}

@media screen and (min-width: 730px) and (max-width: 999px) {
    .icons {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .phone {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }
    .logo {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    .icons {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .phone {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }
    .logo {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    .logo {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
}

@media screen and (min-width: 400px) and (max-width: 730px) {
    .icons {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    .phone {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }
    .logo {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    .logo {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
}
