<div class="content-header">
  <div class="icons">
    <div class="dot">
      <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
    </div>
    <div class="dot">
      <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
    </div>
  </div>
  <div class="logo">
    <img src="assets/logo5.png" alt="">
  </div>
  <div class="phone">
    <div class="telIcon">
      <img id="imgTel" src="https://image.flaticon.com/icons/svg/901/901171.svg" alt="">
      <p>+3670 394 3337</p>
    </div>
    <div class="dot">
      <img id="imgMail"
           src="https://image.flaticon.com/icons/svg/1034/1034138.svg"
           alt="">
    </div>
  </div>
</div>

