<div class="content-header" *ngIf="this.screenSize.width > 730">
    <div class="icons">
        <div class="dot">
            <em class="fa fa-facebook-square fa-2x" placement="top" ngbTooltip="Facebook"></em>
        </div>
        <div class="dot">
            <em class="fa fa-instagram fa-2x" placement="top" ngbTooltip="Instagram"></em>
        </div>
    </div>
    <div class="logo">
        <img src="assets/2a0a3e0b-bf43-4cfc-be74-9749e7200e9b_200x200.png" alt="">
    </div>
    <div class="phone" *ngIf="this.screenSize.width > 730">
        <div class="telIcon">
            <div class="fa fa-mobile-phone fa-2x"></div>
            <p>+3670 394 3337</p>
        </div>
        <div class="mail-icon">
            <em class="fa fa-envelope-o fa-2x" placement="top" ngbTooltip="Írj egy emailt"></em>
        </div>
    </div>

</div>
<div class="content-header" *ngIf="this.screenSize.width < 731">
    <div class="icons">
        <div class="dot">
            <div class="fa fa-mobile-phone fa-2x"></div>
        </div>
    </div>
    <div class="logo">
        <img src="assets/2a0a3e0b-bf43-4cfc-be74-9749e7200e9b_200x200.png" alt="">
    </div>
    <div class="phone" *ngIf="this.screenSize.width < 731">
        <div class="mail-icon">
            <em class="fa fa-envelope-o fa-2x" placement="top" ngbTooltip="Írj egy emailt"></em>
        </div>
    </div>

</div>
