<div id="myModal" class="make-modal animate__animated animate__fadeInDown"
            [@fade] >

  <!-- Modal content -->
  <div class="make-modal-content">
    <p>ez a modal compones</p>
    <p>Some text in the Modal..</p>
    <p>Some text in the Modal..</p>
    <p>Some text in the Modal..</p>
    <p>Some text in the Modal..</p>
    <p>Some text in the Modal..</p>
    <p>Some text in the Modal..</p>
    <p>Some text in the Modal..</p>
    <p>Some text in the Modal..</p>
    <p>Some text in the Modal..</p>
    <p>Some text in the Modal..</p>
    <p>Some text in the Modal..</p>
    <p>Some text in the Modal..</p>
    <p>Some text in the Modal..</p>
    <p>Some text in the Modal..</p>
    <p>Some text in the Modal..</p>
    <p>Some text in the Modal..</p>
    <p>Some text in the Modal..</p>
  </div>
</div>
