<div class="navigation-modal animate__animated animate__fadeInDown" *ngIf="control === 'navigation'"
>

  <!-- Modal content -->
  <div class="custom-modal-content">
    <p>ez a modal nem nem  NAVIGATION</p>
    <p>Some text in the Modal..</p>
    <p>Some text in the Modal..</p>
    <p>Some text in the Modal..</p>
    <p>Some text in the Modal..</p>
    <p>Some text in the Modal..</p>
  </div>
</div>

<div class="products-modal animate__animated animate__fadeInDown" *ngIf="control === 'products'"
>

  <!-- Modal content -->
  <div class="custom-modal-content">
    <p>ez a modal compones PRODUCTS</p>
    <p>Some text in the Modal..</p>
    <p>Some text in the Modal..</p>
    <p>Some text in the Modal..</p>
    <p>Some text in the Modal..</p>
    <p>Some text in the Modal..</p>
  </div>
</div>

