@media screen and (min-width: 1000px) {
    .admin-main {
        margin-left: 50px;
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .form{
        width: 600px
    }
}

@media screen and (max-width: 999px) {
    .admin-main {
        margin: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
}
