*:focus {
    outline: none;
}

.navigation-modal {
    display: block; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 60px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    overflow: auto; /* Enable scroll if needed */
}

.products-modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 123px;
    top: 64px;

    box-shadow: 0 0 10px;

}


.custom-modal-content {
    background-color: var(--primaryGray);
    height: 400px;
}

.bolder {
    font-weight: bold;
}

.product-categoris {
    display: flex;
}

.drop {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.attributes {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
}

.details {
    width: 250px;
}

.drop-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 230px;
    margin-left: 10px;
}

.arrowHover {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

h4 {
    padding: 20px 10px;
    font-size: 1.2rem;
    margin: 0;
    font-family: 'Pluto Sans W01 Regular', serif;
}

.arrow {
    border: solid gray;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

i {
    margin-left: auto;
}

ul li {
    list-style-type: none
}

ul {
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 0 0 20px;
}

li {
    padding: 20px 70px 10px 0;
    font-size: .8rem;
    color: black;
    text-transform: uppercase;
    cursor: pointer;
    font-family: 'Pluto Sans W01 Regular', serif
}

li:hover {
    color: #63b0bb;
}

.modal-img {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

.slide-bottom {
    -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
    0% {
        -webkit-transform: translateY(-300px);
        transform: translateY(-300px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}


.slide-top {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-300px);
        transform: translateY(-300px);
    }
}

