<div (click)="this.keepModalOnScreen()"
     (mouseleave)="this.animationState = 'close'"
     >
    <!-- PRODUCTS MODAL STATES -->

    <div class="products-modal"
         [ngClass]="{  'slide-bottom': this.animationState === 'open',
              'slide-top': this.animationState === 'close'}"
         (animationEnded)="this.closeNavigationModal()"
         [animationName]="'slide-top'"
         appAnim

         (mouseleave)="this.modalControl.showModal =false ; visible('color')">
        <!-- Modal content -->
        <div class="custom-modal-content">
            <div class="product-categoris">
                <div class="drop">
                    <div class="drop-title" (mouseenter)="visible('color')"
                         [ngStyle]="{'border-bottom': isColorVisible ? '1px solid black' : '1px solid gray'}">
                        <h4 [ngStyle]="{color: isColorVisible ? 'black' : 'gray'}">SZÍNEK </h4>
                        <i class="right" [ngClass]="{ 'arrowHover' :isColorVisible,'arrow':!isColorVisible}"></i>
                    </div>
                    <div class="drop-title" (mouseenter)="visible('curtain')"
                         [ngStyle]="{'border-bottom':  isCurtainVisible ? '1px solid black' : '1px solid gray'}">
                        <h4 [ngStyle]="{color: isCurtainVisible ? 'black' : 'gray'}">FÜGGÖNYÖK</h4>
                        <i class="right" [ngClass]="{ 'arrowHover' :isCurtainVisible,'arrow':!isCurtainVisible}"></i>
                    </div>
                    <div class="drop-title" (mouseenter)="visible('other')"
                         [ngStyle]="{'border-bottom':  isOtherVisible ? '1px solid black' : '1px solid gray'}">
                        <h4 [ngStyle]="{color: isOtherVisible ? 'black' : 'gray'}">EGYÉB TERMÉKEINK</h4>
                        <i class="right" [ngClass]="{ 'arrowHover' :isOtherVisible,'arrow':!isOtherVisible}"></i>
                    </div>
                </div>
                <div class="details">
                    <ul *ngIf="isColorVisible">
                        <li *ngFor="let a of this.colors">{{a}}</li>
                    </ul>
                    <ul *ngIf="isOtherVisible">
                        <li (click)="otherNavigate(a.navigationUrl)" *ngFor="let a of this.otherProducts"
                            (mouseover)="showPicture(a.imgUrl)"
                            (mouseleave)="firstImageRender()">{{a.imageType}}</li>
                    </ul>
                    <ul *ngIf="isCurtainVisible">
                        <li (click)="curtainNavigate(a.navigationUrl)" *ngFor="let a of this.curtains"
                            (mouseover)="showPicture(a.imgUrl)"
                            (mouseleave)="firstImageRender()">{{a.imageType}}</li>
                    </ul>
                </div>
                <div class="modal-img">
                    <img [src]="this.actualImage" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="products-modal animate__animated animate__fadeOutUp"
         *ngIf="this.modalControl.control === 'products' && !this.modalControl.showModal">
        <!-- Modal content -->
        <div class="custom-modal-content">
            <div class="product-categoris">
                <div class="drop">
                    <div class="drop-title" (mouseenter)="visible('color')"
                         [ngStyle]="{'border-bottom': isColorVisible ? '1px solid black' : '1px solid gray'}">
                        <h4 [ngStyle]="{color: isColorVisible ? 'black' : 'gray'}">SZÍNEK </h4>
                        <i class="right" [ngClass]="{ 'arrowHover' :isColorVisible,'arrow':!isColorVisible}"></i>
                    </div>
                    <div class="drop-title" (mouseenter)="visible('curtain')"
                         [ngStyle]="{'border-bottom':  isCurtainVisible ? '1px solid black' : '1px solid gray'}">
                        <h4 [ngStyle]="{color: isCurtainVisible ? 'black' : 'gray'}">FÜGGÖNYÖK</h4>
                        <i class="right" [ngClass]="{ 'arrowHover' :isCurtainVisible,'arrow':!isCurtainVisible}"></i>
                    </div>
                    <div class="drop-title" (mouseenter)="visible('other')"
                         [ngStyle]="{'border-bottom':  isOtherVisible ? '1px solid black' : '1px solid gray'}">
                        <h4 [ngStyle]="{color: isOtherVisible ? 'black' : 'gray'}">EGYÉB TERMÉKEINK</h4>
                        <i class="right" [ngClass]="{ 'arrowHover' :isOtherVisible,'arrow':!isOtherVisible}"></i>
                    </div>
                </div>
                <div class="details">
                    <ul *ngIf="isColorVisible">
                        <li *ngFor="let a of this.colors">{{a}}</li>
                    </ul>
                    <ul *ngIf="isOtherVisible">
                        <li (click)="otherNavigate(a.navigationUrl) " *ngFor="let a of this.otherProducts"
                            (mouseover)="showPicture(a.imgUrl)"
                            (mouseleave)="firstImageRender()">{{a.imageType}}</li>
                    </ul>
                    <ul *ngIf="isCurtainVisible">
                        <li (click)="curtainNavigate(a.navigationUrl)" *ngFor="let a of this.curtains"
                            (mouseover)="showPicture(a.imgUrl)"
                            (mouseleave)="firstImageRender()">{{a.imageType}}</li>
                    </ul>
                </div>
                <div class="modal-img">
                    <img [src]="this.actualImage" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
