.navigation-modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 60px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  overflow: auto; /* Enable scroll if needed */
}

.products-modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */

  z-index: 1; /* Sit on top */
  padding-top: 65px; /* Location of the box */
  padding-left: 114px;
  left: 0;
  top: 0;
  width: 500px; /* Full width */
  overflow: auto; /* Enable scroll if needed */
}


.custom-modal-content {
  background-color: #fefefe;
}
