<div (click)="this.keepModalOnScreen()">
    <!-- NAVIGATION MODAL STATES -->

    <div class="navigation-modal animate__animated animate__fadeInDown"
         *ngIf="this.modalControl.control === 'navigation' && this.modalControl.showModal"
    >
        <!-- Modal content -->
        <div class="custom-modal-content">
            <p>ez a modal nem nem NAVIGATION</p>
            <p>Some text in the Modal..</p>
            <p>Some text in the Modal..</p>
            <p>Some text in the Modal..</p>
            <p>Some text in the Modal..</p>
            <p>Some text in the Modal..</p>
            <p>Some text in the Modal..</p>
            <p>Some text in the Modal..</p>
            <p>Some text in the Modal..</p>
            <p>Some text in the Modal..</p>
            <p>Some text in the Modal..</p>
            <p>Some text in the Modal..</p>
            <p>Some text in the Modal..</p>
            <p>Some text in the Modal..</p>
            <p>Some text in the Modal..</p>
        </div>
    </div>

    <div class="navigation-modal animate__animated animate__fadeOutUp"
         *ngIf="this.modalControl.control === 'navigation' && !this.modalControl.showModal"
    >
        <!-- Modal content -->
        <div class="custom-modal-content">
            <p>ez a modal nem nem NAVIGATION</p>
            <p>Some text in the Modal..</p>
            <p>Some text in the Modal..</p>
            <p>Some text in the Modal..</p>
            <p>Some text in the Modal..</p>
            <p>Some text in the Modal..</p>
        </div>
    </div>

    <!-- PRODUCTS MODAL STATES -->

    <div class="products-modal animate__animated animate__fadeInDown"
         *ngIf="this.modalControl.control === 'products' && this.modalControl.showModal"
         (mouseleave)="this.modalControl.showModal =false ; visible('color')">
        <!-- Modal content -->
        <div class="custom-modal-content">
            <div class="product-categoris">
                <div class="drop">
                    <div class="drop-title" (mouseenter)="visible('color')"
                         [ngStyle]="{'border-bottom': isColorVisible ? '1px solid black' : '1px solid gray'}">
                        <h4 [ngStyle]="{color: isColorVisible ? 'black' : 'gray'}">SZÍNEK </h4>
                        <i class="right" [ngClass]="{ 'arrowHover' :isColorVisible,'arrow':!isColorVisible}"></i>
                    </div>
                    <div class="drop-title" (mouseenter)="visible('style')"
                         [ngStyle]="{'border-bottom':  isStyleVisible ? '1px solid black' : '1px solid gray'}">
                        <h4 [ngStyle]="{color: isStyleVisible ? 'black' : 'gray'}">STÍLUSOK</h4>
                        <i class="right" [ngClass]="{ 'arrowHover' :isStyleVisible,'arrow':!isStyleVisible}"></i>
                    </div>
                    <div class="drop-title" (mouseenter)="visible('curtain')"
                         [ngStyle]="{'border-bottom':  isCurtainVisible ? '1px solid black' : '1px solid gray'}">
                        <h4 [ngStyle]="{color: isCurtainVisible ? 'black' : 'gray'}">FÜGGÖNYÖK</h4>
                        <i class="right" [ngClass]="{ 'arrowHover' :isCurtainVisible,'arrow':!isCurtainVisible}"></i>
                    </div>
                    <div class="drop-title" (mouseenter)="visible('other')"
                         [ngStyle]="{'border-bottom':  isOtherVisible ? '1px solid black' : '1px solid gray'}">
                        <h4 [ngStyle]="{color: isOtherVisible ? 'black' : 'gray'}">TÍPUSOK</h4>
                        <i class="right" [ngClass]="{ 'arrowHover' :isOtherVisible,'arrow':!isOtherVisible}"></i>
                    </div>
                </div>
                <div class="details">
                    <ul *ngIf="isColorVisible">
                        <li *ngFor="let a of this.colors">{{a}}</li>
                    </ul>
                    <ul *ngIf="isOtherVisible">
                        <li (click)="navigate(a.navigationUrl)" *ngFor="let a of this.otherProducts"
                            (mouseover)="showPicture(a.imgUrl)"
                            (mouseleave)="firstImageRender()">{{a.imageType}}</li>
                    </ul>
                    <ul *ngIf="isCurtainVisible">
                        <li (click)="navigate(a.navigationUrl)" *ngFor="let a of this.curtains"
                            (mouseover)="showPicture(a.imgUrl)"
                            (mouseleave)="firstImageRender()">{{a.imageType}}</li>
                    </ul>
                </div>
                <div class="modal-img">
                    <img [src]="this.actualImage" alt="">
                </div>
            </div>
        </div>
    </div>

    <div class="products-modal animate__animated animate__fadeOutUp"
         *ngIf="this.modalControl.control === 'products' && !this.modalControl.showModal">
        <div class="custom-modal-content">
            <div class="product-categoris">
                <div class="drop">
                    <div class="drop-title" (mouseenter)="visible('color')"
                         [ngStyle]="{'border-bottom': isColorVisible ? '1px solid black' : '1px solid gray'}">
                        <h4 [ngStyle]="{color: isColorVisible ? 'black' : 'gray'}">SZÍNEK </h4>
                        <i class="right" [ngClass]="{ 'arrowHover' :isColorVisible,'arrow':!isColorVisible}"></i>
                    </div>
                    <div class="drop-title" (mouseenter)="visible('style')"
                         [ngStyle]="{'border-bottom':  isStyleVisible ? '1px solid black' : '1px solid gray'}">
                        <h4 [ngStyle]="{color: isStyleVisible ? 'black' : 'gray'}">STÍLUSOK</h4>
                        <i class="right" [ngClass]="{ 'arrowHover' :isStyleVisible,'arrow':!isStyleVisible}"></i>
                    </div>
                    <div class="drop-title" (mouseenter)="visible('type')"
                         [ngStyle]="{'border-bottom':  isCurtainVisible ? '1px solid black' : '1px solid gray'}">
                        <h4 [ngStyle]="{color: isCurtainVisible ? 'black' : 'gray'}">TÍPUSOK</h4>
                        <i class="right" [ngClass]="{ 'arrowHover' :isCurtainVisible,'arrow':!isCurtainVisible}"></i>
                    </div>
                </div>
                <div class="details">
                    <ul *ngIf="isColorVisible">
                        <li *ngFor="let a of this.colors">{{a}}</li>
                    </ul>
                    <ul *ngIf="isCurtainVisible">
                        <li *ngFor="let a of this.curtains"
                            (mouseover)="showPicture(a.imgUrl)"
                            (mouseleave)="firstImageRender()">
                            {{a.imageType}}
                        </li>
                    </ul>
                </div>
                <div class="modal-img">
                    <img [src]="this.actualImage" alt="">
                </div>
            </div>
        </div>
    </div>
