<div class="sales-container">
    <div class="sales-text">
        <h3>AKCIÓS <br> TERMÉKEINK</h3>
    </div>
    <div class="cards-pos">
        <div class="sales-cards">
            <div class="img-container">
                <img class="card-img-top first" src="assets/JOURNEY BEYOND CAM 12.jpg" alt="Card image cap">
                <div class="overlay">
                    <div class="img-text">
                        TAPÉTÁK
                    </div>
                </div>
            </div>
            <div class="img-container">
                <img class="card-img-top" src="assets/ABSTRACT CAM 4.jpg" alt="Card image cap">
                <div class="overlay">
                    <div class="img-text">
                        FÜGGÖNYÖK
                    </div>
                </div>
            </div>
            <div class="img-container">
                <img class="card-img-top" src="assets/ABSTRACT CAM 5.jpg" alt="Card image cap">
                <div class="overlay">
                    <div class="img-text">
                        TEXTILEK
                    </div>
                </div>
            </div>
            <div class="img-container">
                <img class="card-img-top" src="assets/REFLECTIONS CAM 4.jpg" alt="Card image cap">
                <div class="overlay">
                    <div class="img-text">
                        KIEGÉSZÍTŐK
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
