@media screen and (min-width: 900px) {
    .sales-container {
        background-color: var(--primaryGray);
        display: grid;
        grid-template-columns: 17vw 1fr;
        grid-template-areas: "a b ";
        grid-column-gap: 8vw;
        height: 180px;
        justify-content: center;
        align-items: center;
    }

    .sales-text {
        grid-area: a;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 50px;
    }

    H4 {
        font-family: 'Old Standard TT', serif;
        font-weight: bolder;
        color: var(--primaryLetterBlack);
        font-size: 2vw;
    }

    .product-item .product-item-content {
        border-radius: 3px;
        margin: 0.1rem;
        text-align: center;
        padding: 1rem 0 1rem 0;
    }

    .product-item .product-image {
        width: 50%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }


    /*
        img {
            display: block;
            width: 8vw;
            height: 7vw;
            cursor: pointer;
            border-radius: 8px;
            box-shadow: 0 4px 8px 0 rgba(1, 1, 1, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.79);
        }

        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 7vw;
            width: 8vw;
            opacity: 0;
            transition: .5s ease;
            background-color: var(--primaryLetterBlack);
            border-radius: 8px;
        }
            .img-container:hover .overlay {
        opacity: 50%;
    }
 .image {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .img-container {
        position: relative;
    }


    .img-text {
        color: white;
        font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
        font-size: 1.2vw;
        font-weight: bolder;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
    */


}

@media screen and (max-width: 899px) {

    .sales-container {
        background-color: var(--primaryGray);
        display: grid;
        grid-auto-rows: 1fr 1fr;
        grid-template-areas: "a" "b";
        height: 230px;
        justify-content: center;
        align-items: center;
    }

    .product-item .product-item-content {
        border-radius: 3px;
        margin: 0.1rem;
        text-align: center;
        padding: 1rem 0 1rem 0;

    }

    .product-image {
        width: 50%;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    }

    .sales-text {
        grid-area: a;
        text-align: center;
        margin: 10px 0 0 0;
    }

    H4 {
        font-family: 'Old Standard TT', serif;
        font-weight: bolder;
        color: var(--primaryLetterBlack);
        margin: 0;
    }

    /*
        .cards-pos {
            grid-area: images;
            display: grid;
            grid-template-columns: 0.5fr 1fr 0.5fr;
            grid-template-areas: ". cards .";
        }

        .sales-cards {
            grid-area: cards;
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
            grid-template-areas: "image1 image2" "image3 image4";
            grid-gap: 4vw;
            margin: 20px 0px;

        }

        img {
            display: block;
            width: 30vw;
            height: 28vw;
            cursor: pointer;
            border-radius: 8px;
            box-shadow: 0 4px 8px 0 rgba(1, 1, 1, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.79);
        }

        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 28vw;
            width: 30vw;
            opacity: 0;
            transition: .5s ease;
            background-color: black;
            border-radius: 8px;
        }

        .img-container {
            position: relative;
        }

        .img-container:hover .overlay {
            opacity: 50%;
        }

        .img-text {
            color: white;
            font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
            font-size: 5vw;
            font-weight: bolder;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
        }

         */
}
