@media screen and (min-width: 1000px) {
    .sales-container {
        background-color: white;
        display: grid;
        grid-template-columns: 3fr 8fr;
        grid-template-areas: "a b ";
        min-height: 160px;
    }

    .sales-text {
        grid-area: a;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    H3 {
        font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
        font-size: 1.9vw;
        font-weight: 900;
        color: #555555;
    }

    .sales-cards {
        grid-area: cards;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas: "img1 img2 img3 img4";
        grid-gap: 2vw;
        margin: 20px 0px;

    }

    .cards-pos {
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        grid-template-areas: ". cards .";
    }

    img {
        display: block;
        width: 12vw;
        height: 10vw;
        cursor: pointer;
        border-radius: 8px;
        box-shadow: 0 4px 8px 0 rgba(1, 1, 1, 0.6), 0 6px 20px 0 rgba(0, 0, 0, 0.79);
    }
    .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: black;
    }
    .img-container {
        position: relative;
    }
    .img-container:hover .overlay {
        opacity: 50%;
    }
    .img-text {
        color: white;
        font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
        font-size: 1vw;
        font-weight: bolder;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
    }
}

@media screen and (max-width: 999px) {


}
