.active-product-filter-container {
  margin: 8px 0;
  display: flex;
}

.active-product-filter-message {
  display: flex;
  flex: 0 0 125px;
  align-items: center;
}

.active-product-filter-items-container {
  display: inline-flex;
  flex: 1 0 0;
  flex-wrap: wrap;
  margin: -12px 0 0 -12px;
  width: calc(100% + 12px);
}

.active-product-filter-items-container > div {
  cursor: pointer;
}

.active-product-filter-item {
  display: grid;
  grid-template-columns: auto 1rem;
  grid-column-gap: 0.5rem;
  background: beige;
  padding-bottom: 2px;
  margin: 12px 0 0 12px;
}

.active-product-filter-item-text {
  display: grid;
  grid-column: 1 / 2;
  justify-content: center;
  align-items: center;
  padding-left: 0.4rem;
}

.active-product-filter-item-icon {
  display: grid;
  grid-column: 2 / -1;
  justify-content: end;
  align-items: center;
  padding-top: 0.22rem;
  margin-right: 4px;
}
