<div class="active-product-filter-container" #activeColorFilter>
  <div class="active-product-filter-message" *ngIf="!(this.activeFilterExists$ | async)">
    Nincsen szürő!
  </div>
  <div class="active-product-filter-message" *ngIf="(this.activeFilterExists$ | async)">
    Aktív szürők:
  </div>
  <div class="active-product-filter-items-container">
    <ng-container *ngFor="let  attribute of (this.activeFilters$ | async)" >
      <div class="active-product-filter-item"
           (click)="this.deactivateFilter(attribute)"
           >
        <div class="active-product-filter-item-text">
          {{attribute.description}}
        </div>
        <div class="active-product-filter-item-icon">
          <svg id="Capa_1" enable-background="new 0 0 386.667 386.667" height="0.65rem" width="0.65rem"
               viewBox="0 0 386.667 386.667" xmlns="http://www.w3.org/2000/svg">
            <path
              d="m386.667 45.564-45.564-45.564-147.77 147.769-147.769-147.769-45.564 45.564 147.769 147.769-147.769 147.77 45.564 45.564 147.769-147.769 147.769 147.769 45.564-45.564-147.768-147.77z"/>
          </svg>
        </div>
      </div>
    </ng-container>
  </div>
</div>
