.admin-sidebar {
    grid-area: admin-sidebar;
}

.sidebar {
    margin: 20px;
}

.sidebar-options {
    padding: 20px;
}

.sidebar-option:hover {
    background-color: #E5E5E5;
}

.option {
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
}
