<div class="newsletter-container">
    <div class="newsletter-content">
        <div class="newsletter-title">
            <div class="newsletter">
            <h2>NEWSLETTER Sign Up</h2>
            </div>
            <div class="newsletter-desc">
            <p>Sign up to find out about upcoming sales, new releases and our latest design ideas</p>
            </div>
        </div>
        <div class="newsletter-input">
            <div>
                    <input type="text" id="ip2" class="custom-email" placeholder="Email address"/>
                <span>
                    <button type="button" class=" signButton">
                        Sign Up
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
