*:focus {
    outline: none;
}

.custom-email {
    border-radius: 25px;
    border: 1px solid var(--primaryGray);
    padding: 20px;
    width: 300px;
    height: 15px;
}

p {
    font-size: 1rem;
}

h2 {
    font-family: 'Old Standard TT', serif;
    font-weight: 900;
    color: var(--primaryLetterBlack);
    font-size: 2rem;
    margin: 0;
}

.signButton {
    border-radius: 25px;
    border: 1px solid var(--primaryGreen);
    background-color: var(--primaryGreen);
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin: 0 0 0 20px;
}

input:focus {
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

button:focus {
    outline: none !important;
    border-color: #719ECE;
    box-shadow: 0 0 10px #719ECE;
}

@media screen and (min-width: 800px) {
    .newsletter-container {
        background-color: var(--primaryGray);
        display: grid;
        grid-template-columns: minmax(250px, 1fr) 2fr;
        grid-template-areas: "a b ";
        height: 230px;
    }

    .newsletter-title {
        grid-area: a;
        flex-direction: column;
    }

    .newsletter-content {
        grid-area: b;
    }

    .newsletter-title, .newsletter-content {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 799px) {
    .newsletter-content, .newsletter-container, .newsletter-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .newsletter-container {
        background-color: var(--primaryGray);
    }

    .newsletter-content {
        margin: 10px 0 10px 0;
    }

    .newsletter-title {
        margin: 20px 0 0 0;
    }

    p {
        display: none;
    }

    .signButton {
        margin: 20px 0 0 0;
        width: 100px;
    }

}
