<!--<app-decorate-carousel [value]="[{name: 'hello'}, {name:'bello'}]"  [circular]="true" [numVisible]="2 ">
  <ng-template let-car pTemplate="item">
    {{car.name}}
  </ng-template>
</app-decorate-carousel>-->
<div style="display: flex; flex-direction: column;">
  <app-navigation-header style="display: flex; align-self: center"></app-navigation-header>
  <div class="product-container">
    <div class="product-image-side">
      <app-product-image-card></app-product-image-card>
    </div>
    <div class="product-detail-side">
      <app-product-details-new></app-product-details-new>
    </div>


    <!-- ez a régi ha esetleg kellen vissza-->
    <!-- <div class="product-images">
       <app-product-images [imageDimension]=this.imagesDimensions></app-product-images>
     </div>
     <div class="product-details" #productDetails>
       <app-product-details [productDetailsDimension]="this.productDetailsDimensions"></app-product-details>
     </div>-->
  </div>

  <button (click)="pushPush()">nyomj meg</button>
</div>
<app-decorate-modal *ngIf="pushed" [show]="this.pushed">

 <!-- <div style="height: 200px; min-width: 200px; background-color: blue"></div>
  <div style="height: 200px; min-width: 200px; background-color: cyan"></div>
  <div style="height: 200px; min-width: 200px; background-color: black"></div>-->
</app-decorate-modal>
