.product-container {
  display: flex;
  flex-direction: column;
}

@media all and (min-width: 761px) {
  .product-container {
    display: flex;
    flex-direction: row;
  }


  .product-image-side {
    display: block;
    max-width: 760px;
  }

  .product-detail-side {
    display: flex;
    flex: 1 2 325px;
    max-width: 760px;
  }
}

/*
.products-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.product-details {
  display: flex;
}

.product-images {
  display: flex;
}

@media all and (max-width: 1400px) and (min-width: 1101px) {
  .products-container {
    display: flex;
    margin: 10px 10px 0;
    justify-content: space-evenly;

  }

  .product-details {
    display: flex;
  }

  .product-images {
    display: flex;
    margin-right: 15px;
  }


}

@media all and (max-width: 1100px) and (min-width: 901px) {
  .products-container {
    display: flex;
    margin: 10px 5vw 0;
    justify-content: space-evenly;

  }

  .product-details {
    display: flex;
  }

  .product-images {
    display: flex;
  }


}

@media all and (max-width: 900px) {
  .products-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .product-details {
    display: flex;
    margin-top: 10px;
  }

  .product-images {
    display: flex;
  }
}


*/
