.newsletter-container {
    background-color: ghostwhite;
    height: 180px;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 0.2fr 1fr 0.2fr;
    grid-template-areas: "a1 a2 a3" "b1 b2 b3" "c1 c2 c3";
}

.newsletter-content {
    grid-area: b2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a b  ";
}

.newsletter-title {
    grid-area: a;
}

h4 {
    font-family: "Nexa W01 Bold", sans-serif;
    font-size: 45px;
    color: #555555;
}

span {
    font-family: "NexaRustScriptL-00", sans-serif;
}

p {
    font-size: 0.875rem;
    color: #555555;
}

.newsletter-input {
    grid-area: b;
}

input.rounded {
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 1px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    font-size: 20px;
    padding: 4px 7px;
    outline: 0;
    -webkit-appearance: none;
}

input.rounded:focus {
    border-color: #339933;
}
