<div class="newsletter-container">
    <div class="newsletter-content">
        <div class="newsletter-title">
            <div class="newsletter">
            <h4>NEWSLETTER Sign Up</h4>
            </div>
            <div class="newsletter-desc">
            <p>Sign up to find out about upcoming sales, new releases and our latest design ideas</p>
            </div>
        </div>
        <div class="newsletter-input col">
            <div class="proba">
                <label>
                    <input type="text" class="rounded" placeholder="Email address"/>
                </label>
                <span>
                    <button type="button" class=" signButton">
                        Sign Up
                    </button>
                </span>
            </div>
        </div>
    </div>
</div>
