<div class="newsletter-container">
    <div class="newsletter-content">
        <div class="newsletter-title">
            <h4 style="margin-top: 15px">NEWSLETTER <span>Sign Up</span></h4>
            <p>Sign up to find out about upcoming sales, new releases and our latest design ideas</p>
        </div>
        <div class="newsletter-input">
            <div >
                <label>
                    <input type="text" class="rounded" placeholder="Email address"/>
                </label>
                <span >
                    <button  type="button" class=" signButton">
                        Sign Up
                    </button>
                </span>
            </div>
        </div>
    </div>

</div>
