@media screen and (min-width: 1000px) {
    .admin-content {
        display: grid;
        grid-template-columns: 1fr 4fr;
        grid-template-areas: 'admin-sidebar admin-main';

    }

    .sidebar-container {
        background-color: #C6D7CD;
        grid-area: admin-sidebar;
        border-right: black solid;
    }

    .main-container {
        grid-area: admin-main;
        background-color: #C6D7CD;
    }
}
@media screen and (max-width: 999px) {
    .admin-content {
        display: grid;
        grid-template-rows: 1fr 4fr;
        grid-template-areas: 'admin-sidebar' 'admin-main';
        height: 800px
    }

    .sidebar-container {
        background-color: #C6D7CD;
        grid-area: admin-sidebar;
    }

    .main-container {
        grid-area: admin-main;
        background-color: #C6D7CD;
    }
}
