<app-navbar>
    <app-content-header></app-content-header>
    <div class="info-container">
        <div class="title">
            <h1>Barion fizetési tájékoztató</h1>
        </div>
        <h3>Mit jelent a BARION™?</h3>
        <p class="content">
            A Barion elektronikus fizetéseket lebonyolító szolgáltatás, amivel <strong>kényelmesen és biztonságosan tud
            bankkártyával, vagy előre feltöltött egyenleggel fizetni </strong> webáruházakban, mobilalkalmazásokban,
            vagy
            barátainak.
            A szolgáltatást nyújtó Barion Payment Zrt a <strong>Magyar Nemzeti Bank felügyelete alatt álló</strong>
            intézmény,
            engedélyének száma: H-EN-I-1064/2013.
        </p>
        <h3>Fizessen kényelmesen bankkártyával</h3>
        <p class="content">
            A bankkártyás fizetéshez nem kötelező a regisztráció, elég megadni bankkártyája számát, a lejárati dátumot
            és a hátoldalon található CVC kódot, valamint egy működő e-mail címet.
            Ha azonban regisztrál, soha többé nem kell begépelnie a kártyaszámot egyetlen Barion elfogadóhelyen sem, a
            fizetéshez elég az e-mailcímét és jelszavát. Ez nem csak kényelmes, de a biztonságát is növeli!
        </p>
        <p class="content">
            Fizetéshez használhatja:
        </p>
        <ul>
            <li>
                Mastercard vagy Maestro bankkártyáját
            </li>
            <li>
                Visa vagy Electron bankkártyáját
            </li>
            <li>
                Amex bankkártyáját
            </li>
        </ul>
        <h3>Ingyenes</h3>
        <p class="content">
            A bankkártyás fizetésnek <strong>a vásárló részére nincsen és nem is lehet felára</strong> . A regisztráció
            és a Barion
            mobilalkalmazás, valamint a pénz fogadás és küldés ingyenes, és az is marad. Nincs havi díj sem.
        </p>
        <h3>Kövesse a vásárlásait</h3>
        <p class="content">
            A Barion alkalmazásokkal követheti vásárlásait, a weben vagy mobilon. Az ingyenes Barion tárca azonnal jelzi
            minden vásárlásoát, még azt is látja, mit vett. Barion egyenlegét is itt kezelheti, illetve pénzt küldhet
            vagy fogadhat.
        </p>
        <h3>Első a biztonság</h3>
        <p class="content">
            A Barion szervereit a Norton/Symantec/Verisign 2048 bites TLS titkosítása védi. Fizetés előtt mindig
            ellenőrizze, hogy valóban a Barion biztonságos szerverén adja meg a fizetéshez szükséges bankkártya adatokat
            vagy jelszót.<strong>A böngészője zöld színnel jelzi,ha a fizetés</strong> és a fizetőoldal tulajdonosát
            <strong>Barion Payment Inc
                [HU]</strong> néven azonosítja. A Barion rendelkezik a bankkártya társaságok által megkövetelt PCI DSS
            tanúsítvánnyal, így jogosult bankkártya adatokat kezelni. A Barion szerverek biztonságát a Magyar Nemzeti
            Bank előírása szerint alakították ki.
        </p>
        <h3>További információ és ingyenes regisztráció</h3>
        <p class="content">
            www.barion.com
        </p>
        <p class="content">
            Webáruházunk csupán a tranzakció végeredményéről kap tájékoztatást, a megadott kártyaadatok nem jutnak el
            hozzánk! A Barion Smart Gateway felületén a kártyaadatok megadásával, vagy Barion tárca tulajdonosok
            esetében saját jelszóval lehetséges a fizetés, asztali és mobil böngészőkben egyaránt. Ez a fizetési mód nem
            igényel regisztrációt, az első fizetésnél lehet regisztrálni, de ez opcionális. A regisztráció és a Barion
            tárca használata Neked egyaránt ingyenes. A regisztráció kényelmessé teszi a rendszer használatát, nem kell
            többet beírni a kártyaadatokat az adott kereskedőnél, és egyetlen más Barion elfogadónál sem. Amennyiben
            regisztrálsz, javasoljuk, hogy töltsd le a Barion appot is, amely révén rengeteg felhasználói élménnyel
            gazdagodhatsz.
        </p>
        <p class="content">
            A Barionnal történő fizetés lépései:
        </p>
        <ul>
            <li>
                Válaszd ki a terméket és helyezd azt a kosárba!
            </li>
            <li>
                A Pénztárnál válaszd ki a számodra megfelelő szállítási módot, majd a fizetési módnál a Bariont. Ha
                megvan, akkor az Általános szerződési feltételek elfogadása után kattints a “Megrendelés” gombra!
            </li>
            <li>
                Fizetés a bankkártya adatok magadásával:
                <ul>
                    <li>
                        Ez a fizetési mód bárki számára elérhető, aki rendelkezik online fizetésre alkalmas Mastercard,
                        Maestro, Visa, Electron vagy Amex bankkártyával vagy hitelkártyával. A fizetéshez a kártya
                        adataira, valamint egy e-mail címre van szükség. A fizetéshez Barion regisztráció nem szükséges,
                        de az ÁSZF-et minden esetben el kell fogadni.
                    </li>
                </ul>
            </li>
            <li>
                Fizetés Barion tárcával:
                <ul>
                    <li>
                        Fizetés eltárolt bankkártyával
                        Ez a fizetési mód bárki számára elérhető, aki rendelkezik online fizetésre alkalmas Mastercard,
                        Maestro, Visa, Electron vagy Amex bankkártyával, hitelkártyával, valamint érvényes Barion
                        regisztrációval. A fizetéshez szükséges kártyaadatokat a Barion biztonságos szervere tárolja, a
                        fizetéshez e-mail cím és jelszó szükséges. Egy Barion tárcában több bankkártya is lehet.
                    </li>
                    <li>
                        Fizetés már előre feltöltött Barion egyenleggel.
                        Ez a fizetési mód bárki számára elérhető, aki rendelkezik érvényes Barion regisztrációval (és
                        nem rendelkezik bankkártyával). A fizetéshez csupán e-mail cím és jelszó szükséges. Az
                        egyenlegen lévő elektronikus pénz előre feltölthető készpénz befizetéssel a Barion feltöltő
                        pontokon, valamint átutalással bankszámláról (sürgős esetben bankkártyáról is).
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <app-footer></app-footer>
</app-navbar>
