<div class="flex-container">
    <div style="margin-bottom: 50px">
        <div class="flex-header" *ngIf="this.productsFromLocalStorage != null">
            <h4 class="filler"></h4>
            <h4 class="qty">Mennyiség</h4>
            <h4 class="price">Ár</h4>
            <h4 class="total-price">Teljes Ár</h4>
        </div>
        <div *ngFor="let prod of this.productsFromLocalStorage">
            <app-basket-item [product]="prod" (totalPrice)="getAllTotalPrice($event)"></app-basket-item>
        </div>
        <div class="empty-basket" *ngIf="this.productsFromLocalStorage == null">
            <app-empty-basket></app-empty-basket>
            <button class="basket-continue-btn" routerLink="/">Vásárlás folytatása</button>
        </div>
    </div>
</div>
<div class="checkout-container" *ngIf="this.productsFromLocalStorage != null">
    <div class="prom-code">
        <input class="discount-code-input" placeholder="kuponkód">
        <button class="discount-code-btn">beváltás</button>
    </div>
    <div class="basket-total">
        <h4>TELJES ÁR :</h4>
        <h4>{{this.allTotal}} ft</h4>
    </div>
    <div class="checkout-action">
        <button class="basket-continue-btn" routerLink="/">Vásárlás folytatása</button>
        <button class="basket-checkout-btn" routerLink="/checkout">Biztonságos fizetés</button>
    </div>
</div>


