*:focus {
    outline: none;
}

.basket-container {
    display: grid;
    grid-template-columns: minmax(auto, 1fr) minmax(800px, 3.5fr) minmax(auto, 1fr);
    grid-template-areas: 'a b c';

    margin-bottom: 50px;
}

.basket-wrapper {
    grid-column: 2/3;
    background-color: var(--primaryWhite);
}

