<div class="image-flex-container">
  <div class="big-image animate__animated animate__fadeIn"
       appBackgroundImg
       mainBackgroundImage="https://i.imgur.com/1nyTupT.jpg"
       #bigImage
       [ngStyle]="{'height.px':this.imageDimension?.width, 'width.px': this.imageDimension?.width}">

  </div>
  <div [ngStyle]="{'width.px': this.imageDimension?.width}">
    <app-small-igmages [bigImageDimensions]="imageDimension"></app-small-igmages>
  </div>
</div>
<!--  https://i.imgur.com/1nyTupT.jpg -->
