.big-image {
}
.small-images-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.image-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-image {

}

.second-image {

}

.third-image {

}
