.big-image {
  height: 39vw;
  width: 39vw;
  background: #719ECE;
}

@media all and (min-width: 1400px) {
  .big-image {
    height: 33vw;
    width: 33vw;
    background: #719ECE;
  }
}


@media all and (max-width: 900px) {
  .big-image {
    background: #719ECE;
    height: 85vw;
    width: 85vw;

  }

  .container-make {
    display: grid;
    justify-content: center;

  }
}



