.product-image-card-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-left: 2%;
   margin-right: 2%;
   margin-bottom: 25px;

}

.product-image-card-image {
  justify-content: center;
  width: 100%;
  padding-top: 96%;
}

.product-image-card-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e7e7;
  height: 75px;
  width: 100%;
}

@media all and (min-width: 761px) {
  .product-image-card-container {
    min-width: 40vw;
    margin: 0 0;
  }

  .product-image-card-image {

    width: 100%;
    padding-top: 96%;
  }

  .product-image-card-text {
min-width: 350px;
max-width: 760px;
  }

}


.play-button {
  margin-left: 10px;
  padding-bottom: 2px;
}

.order-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  cursor: pointer;
  color: #fde6de;
  font-family: 'Doppio One', serif;
  font-size: 1rem;
  width: 225px;
  height: 45px;
  background-color: #505358;

}

.order-btn:hover {
  cursor: pointer;
  background-color: #252221;
}

.order-btn:active {
  position: relative;
  top: 1px;
}
