.filter-container {
  display: flex;
  gap: 3rem;
  align-items: center;
  margin-top: 20px;
}

.products-filter-order-selector {
  display: flex;
  width: 200px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.products-filter-order-selector a {
  font-family: Arial, fantasy;
  color: #222;
  text-decoration: none;
  font-size: 1.1rem;
}

.products-filter-order-selector-dropdown {
  position: absolute;
  top: 2rem;
  z-index: 1000;
  border: solid 0.3px black;
  background: whitesmoke;
  min-width: 250px;
  display: flex;
  flex-direction: column;
justify-content: center;
}

.custom {
  padding-top: 7px;
  font-family: Arial, fantasy;
  color: #222;
  text-decoration: none;
  font-size: 1.2rem;
  display: block;
}

.custom:hover {
  background: lightgrey;
}

.products-filter-color-selector a {
  font-family: Arial, fantasy;
  color: #222;
  text-decoration: none;
  font-size: 1.1rem;
}

.products-filter-color-selector {
  display: flex;
  width: 100px;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.filter-element {
  position: relative;
}


.filter-container a {
  font-family: Arial, fantasy;
  color: #222;
  text-decoration: none;
  font-size: 1.2rem;
}

.filter-container i {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.push {
  margin-left: auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.show-order-dropdown {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  width: 160px;
}

.show-order-dropdown div {
  background: #f1f1f1;
}

.show-large-dropdown {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 1vw;
  grid-row-gap: 1vh;
  background-color: #f1f1f1;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 1.5vh;
}

.color-dropdown-control-area {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
}

.color-dropdown-item {
  display: inline-block;
  cursor: pointer;
}

.color-button {
  display: flex;
  width: 7rem;
  height: 3rem;
  cursor: pointer;
  background: #c6d7cd;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.color-button:hover {
  background: #b4cbbd;
}

.show-design-dropdown {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  min-width: 160px;
}




/*                  small settings                 */
.small-filter-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: #222222 solid 2px;
}


.small-filter-item {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  cursor: pointer;
  position: relative;

}

.small-border-right {
  border-right: solid black 2px;
}


.small-order-dropdown-container {
  display: flex;
  flex-direction: column;
  width: 310px;
  height: 80vh;
  background: whitesmoke;
  overflow: auto;
}

.small-custom:hover {
  background: lightgray;
  cursor: pointer;
}
.small-custom {
  display: flex;
  flex: 1 0 auto;
  padding-left: 2vw;
  border-bottom: solid gray 0.1em;
  height: 3rem;
  font-size: 1.25rem;
  align-items: center;
}
.small-header-container {
  display: flex;
  border-bottom: solid gray 0.1em;
}

.small-header-text {
  display: flex;
  flex: 1 0 0;
  padding-left: 2vw;
  font-size: 2rem;
}

.small-header-exit {
  display: flex;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.small-filter-dropdown-container {
  display: flex;
  flex-flow: column;
  background: whitesmoke;
  overflow: auto;
  width: 90vw;
  height: 85vh;
}


.small-color-picker:hover {
  background: lightgray;
}

.small-color-picker {
  display: flex;
  flex: 1 0 auto;
  max-height: 4rem;
  min-height: 4rem;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  border-bottom: solid 1px gray;
  border-top: solid 1px gray;
}

@media all and (min-width: 500px) and (max-width: 999px) {


  .small-color-items-container {
    display: grid;
    grid-template-areas: "a b c";
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    padding-bottom: 1em;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .small-color-item {
    display: grid;
    align-items: center;
    font-size: 1.25rem;
  }
}


@media all and (max-width: 499px) {
  .small-color-items-container {
    display: grid;
    grid-template-areas: "a b";
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    justify-content: space-between;
    align-items: center;
    margin-top: 1em;
    padding-bottom: 1em;
    margin-left: 10vw;
    margin-right: 10vw;
  }

  .small-color-item {
    display: grid;
    align-items: center;
    font-size: 1.25rem;
  }

}



