.filter-container {
  display: flex;
  gap: 3rem;
  flex-direction: row;
}

.filter-element {
  position: relative;
}


a {
  font-family: Arial;
  color: #222;
  text-decoration: none;
  font-size: 1.2rem;
}

i {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.push {
  margin-left: auto;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}

.show-order-dropdown {
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  width: 160px;
}

.show-order-dropdown div {
  background: #f1f1f1;
}

.show-large-dropdown {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 1vw;
  grid-row-gap: 1vh;
  background-color: #f1f1f1;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-top: 1.5vh;
}

.color-dropdown-control-area {
  grid-column: 1 / -1;
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.color-dropdown-item {
  display: block;
  width: fit-content;
}

.color-button {
  display: block;
  width: 7rem;
  line-height: 3rem;
  cursor: pointer;
  background: darkslategrey;
  text-align: center;
  vertical-align: middle;
}

.show-design-dropdown {
  display: flex;
  flex-direction: column;
  background-color: #f1f1f1;
  min-width: 160px;
}


.custom {
  padding-top: 7px;
  font-family: Arial, fantasy;
  color: #222;
  text-decoration: none;
  font-size: 1.2rem;
  width: 160px;
  display: block;
  background: yellowgreen;
}

.custom:hover {
  background: lightgrey;
}

/*                  small settings                 */
.small-filter-container {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 0.5rem;
  border-bottom: #222222 solid 2px;
}


.small-filter-item {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  cursor: pointer;
  position: relative;

}

.small-border-right {
  border-right: solid black 2px;
}


.small-order-dropdown-container {
  display: flex;
  position: fixed;
  flex-direction: column;
  z-index: 100;
  top: 20%;
  background: white;
  width: 75vw;
  -webkit-box-shadow: 10px 10px 44px -13px rgba(0,0,0,0.63);
  -moz-box-shadow: 10px 10px 44px -13px rgba(0,0,0,0.63);
  box-shadow: 10px 10px 44px -13px rgba(0,0,0,0.63);
  max-height: 80vh;
  overflow: auto;
}

@media all and (min-width: 550px) and (max-width: 750px) {
  .small-custom {
    display: flex;
    flex: 1 0 0;
    padding-left: 30vw;
    border-bottom: solid gray 0.1em;
    padding-top: 2vh;
  }

  .small-custom:hover {
    background: lightgray;
  }

  .small-header-container {
    display: flex;
    border-bottom: solid gray 0.1em;
  }

  .small-header-text {
    display: flex;
    flex: 1 0 0;
    padding-left: 30vw;
    font-size: 2rem;
  }

  .small-header-exit {
    display: flex;
    font-size: 2rem;
    align-items: center;
    padding-right: 0.5em;
    cursor: pointer;

  }
}


@media all and (max-width: 549px) {
  .small-custom {
    display: flex;
    flex: 1 0 0;
    padding-left: 2vw;
    border-bottom: solid gray 0.1em;
    padding-top: 2vh;
  }
  .small-custom:hover {
    background: lightgray;
  }

  .small-header-container {
    display: flex;
    border-bottom: solid gray 0.1em;
  }

  .small-header-text {
    display: flex;
    flex: 1 0 0;
    padding-left: 2vw;
    font-size: 2rem;
  }

  .small-header-exit {
    display: flex;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

}
