.content {
    height: 60vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "a1 a2 ";
}

.firstCard {
    grid-area: a1;
    background: url("src/assets/Karnis főoldali fotó.jpg") no-repeat center center;
    background-size: cover;
}

.secondCard {
    grid-area: a2;
    background: url("src/assets/Textil Kiegészítők főoldal fotó.jpg") no-repeat center;
    background-size: cover;
}

@media screen and (max-width: 999px) {
    .content {
        height: 50vh;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "a1 a1" "b1 b1 ";
    }

    .firstCard {
        grid-area: a1;
        background: url("src/assets/Karnis főoldali fotó.jpg") no-repeat center center;
        background-size: cover;
    }

    .secondCard {
        grid-area: b1;
        background: url("src/assets/Textil Kiegészítők főoldal fotó.jpg") no-repeat center;
        background-size: cover;
    }


}
