<div class="content-header">
    <div class="icons">
        <div class="dot">
            F
        </div>
        <div class="dot">
            T
        </div>
    </div>


<div class="phone">
    <div class="telIcon">
        <img id="imgTel" src="https://image.flaticon.com/icons/svg/901/901171.svg" alt="">
       +36 20 325 2355
    </div>
    <div class="dot">
        <img id="imgMail"
            src="https://image.flaticon.com/icons/svg/1034/1034138.svg"
            alt="">
    </div>

</div>
</div>

