<div class="sales-container">
    <div class="sales-text">
        <h4 >ÚJDONSÁGOK</h4>
    </div>
    <div class="cards-pos">
        <div class="img-container">
                <img class="card-img-top first" src="https://i.imgur.com/nUl3UuP.jpg" alt="Card image cap">
                <div class="overlay">
                    <div class="img-text">
                        tapéták
                    </div>
                </div>
            </div>
            <div class="img-container">
                <img class="card-img-top" src="https://i.imgur.com/84fyNyj.jpg" alt="Card image cap">
                <div class="overlay">
                    <div class="img-text">
                        függönyök
                    </div>
                </div>
            </div>
            <div class="img-container">
                <img class="card-img-top" src="https://i.imgur.com/HtBoVro.jpg" alt="Card image cap">
                <div class="overlay">
                    <div class="img-text">
                        textilek
                    </div>
                </div>
            </div>
            <div class="img-container">
                <img class="card-img-top" src="https://i.imgur.com/Ez06ItC.jpg" alt="Card image cap">
                <div class="overlay">
                    <div class="img-text">
                        kiegészítők
                    </div>
                </div>
            </div>
    </div>

</div>
