@media screen and (min-width: 1000px) {
    .content {
        height: 90vh;
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-areas: "a2 a1 a3" "a4 a1 a5";
        cursor: pointer;
    }
    .descOne {
        position: relative;
        grid-area: f;
    }
    .text {
        font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
        font-weight: normal;
        font-size: 5rem;
        line-height: 0.9;
        color: white;

    }
    .firstCard {
        grid-area: a1;
        filter: brightness(80%);
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-rows: 1fr 1fr 0.5fr;
        grid-template-areas: "a b c" "d e f" "i j k";
        position: relative;
        background: url("src/assets/JOURNEY BEYOND CAM 11.jpg") no-repeat center center;
        background-size: cover;
        overflow: hidden;
        transition: all .8s;
    }

    .firstCard::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: inherit;
        transition: inherit;
    }

    .firstCard:hover::before {
        transform: scale(1.1);
    }

    .secondCard {
        position: relative;
        grid-area: a4;
        background: url("src/assets/Fényáteresztő főoldal fotó.jpg") no-repeat center center;
        background-size: cover;
        overflow: hidden;
        transition: all .8s;
    }

    .secondCard::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: inherit;
        transition: inherit;
    }

    .secondCard:hover::before {
        transform: scale(1.1);
    }

    .thirdCard {
        position: relative;
        grid-area: a3;
        background: url("src/assets/JOURNEY BEYOND CAM 4.jpg") no-repeat center center;
        filter: brightness(90%);
        background-size: cover;
        overflow: hidden;
        transition: all .8s;

    }

    .thirdCard::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: inherit;
        transition: inherit;
    }

    .thirdCard:hover::before {
        transform: scale(1.1);
    }

    .grig-down {
        grid-area: a2;
    }

    .grid-up {
        grid-area: a5;
    }
    .mozaik-text {

        font: 400 130px/0.8 'Great Vibes', Helvetica, sans-serif;
        font-weight: bolder;
        font-size:4rem;
        line-height: 0.9;
        color: white;
    }
    .mozaik-text-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}


@media screen and (max-width: 999px) {
    .content {
        height: 90vh;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 1fr 1fr;
        grid-template-areas: "a a" "b1 c1" "b2 c2";
    }

    .firstCard {
        background: url("src/assets/JOURNEY BEYOND CAM 11.jpg") no-repeat center center;
        background-size: cover;
        width: 100%;
        filter: brightness(80%);
        grid-area: a;
        overflow: hidden;
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
        grid-template-rows: 1fr 1fr 0.5fr;
        grid-template-areas: "a b c" "d e f" "i j k";
    }

    .secondCard {
        background: url("src/assets/Fényáteresztő főoldal fotó.jpg") no-repeat center center;
        background-size: cover;
        width: 100%;
        grid-area: b2;
        overflow: hidden;
    }

    .thirdCard {
        background: url("src/assets/JOURNEY BEYOND CAM 4.jpg") no-repeat center center;
        background-size: cover;
        width: 100%;
        filter: brightness(65%);
        grid-area: c1;
        overflow: hidden;
    }

    .mozaik-down {
        grid-area: b1;
        background-color: #FFDEE3;
        background-size: cover;
        width: 100%;
        position: relative;
    }

    .mozaik-down:before {
        content: "";
        position: absolute;
        right: 45%;
        bottom: -35px;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 15px solid transparent;
        border-top: 23px solid #FFDEE3;
    }

    .mozaik-up {
        grid-area: c2;
        background-color: #FFDEE3;
        background-size: cover;
        width: 100%;
        position: relative;
        filter: brightness(95%);
    }
    .mozaik-up:before {
        content: "";
        position: absolute;
        right: 45%;
        top: -35px;
        width: 0;
        height: 0;
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        border-bottom: 23px solid #FFDEE3;
        border-top: 15px solid transparent;
    }
    .mozaik-text {
        font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
        font-weight: bolder;
        color: white;
    }
    p {
        display: none;
    }
    .mozaik-text-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .descOne {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        grid-area: f;
    }
    .text {
        font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
        font-size: 3rem;
        font-weight: bolder;
        color: white;
    }
}
