@media screen and (min-width: 900px) {
  .content {
    height:50vw;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: "a2 a1 a3" "a4 a1 a5";
    cursor: pointer;
  }



  .firstCard {
    grid-area: a1;
    display: grid;
    grid-template-columns: 1fr 1fr 0.3fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    grid-template-areas: "a b ." "d e ." "i j .";
  }

  .secondCard {
    grid-area: a4;
  }

  .thirdCard {
    grid-area: a3;
  }

  .grig-down {
    grid-area: a2;
  }

  .grid-up {
    grid-area: a5;
  }

  p {
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    font-size: 1.9vw;
    font-weight: 900;
    color: whitesmoke;
    padding-top: 10px;
  }
}

@media screen and (max-width: 899px) {
  .content {
    height: 150vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas: "a a" "b1 c1" "b2 c2";
  }

  .firstCard {
    grid-area: a;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    grid-template-areas: "a b c" "d e f" "i j k";
  }

  .secondCard {
    grid-area: b2;
  }

  .thirdCard {
    grid-area: c1;
  }

  p {
    display: none;
  }



}


