<div class="content">
    <div class="firstCard">
        <div class="descOne">
            <h3 class="text">Fabric <br>
                <strong>DESIGNERS</strong>
            </h3>
        </div>
    </div>
    <div class="secondCard grid-position-second">
    </div>
    <div class="mozaik-down grid-down">
        <h4 class="mozaik-text"> Fényáteresztő függönyök </h4>
        <br>
        <p class="mozaik-text"> és </p>
        <br>
        <p class="mozaik-text"> Különleges függönyök </p>
    </div>
    <div class="thirdCard grid-position-third">
    </div>
    <div class="mozaik-up grid-up">
        <h4 class="mozaik-text"> Dekor és Sötétítő függöny </h4>
        <br>
        <p class="mozaik-text"> és </p>
        <br>
    </div>

</div>
