<div class="content">
    <div class="firstCard">
        <div class="descOne">
            <h3 class="text">Fabric <br>
                <strong>DESIGNERS</strong>
            </h3>
        </div>
    </div>
    <div class="secondCard">
    </div>
    <div class="mozaik-down grid-down">
        <strong class="mozaik-text"> Fényáteresztő függönyök </strong>
        <br>
        <strong class="mozaik-text"> és </strong>
        <br>
        <strong class="mozaik-text"> Különleges függönyök </strong>
    </div>
    <div class="thirdCard">
    </div>
    <div class="mozaik-up grid-up">
        <strong class="mozaik-text"> Dekor és Sötétítő függöny </strong>
        <br>
        <strong class="mozaik-text"> Exkluzív textilek, méretre varrt dekorfüggönyök </strong>
    </div>

</div>
