<div class="content">
    <div class="firstCard">
        <div class="descOne">
            <h3 class="text">Díszpárna <br>
            </h3>
            <p>Gyönyörű díszpárnáink harmonikussá varázsolják otthonát</p>
        </div>
    </div>
        <div class="secondCard grid-position-second">
        </div>
        <div class="mozaik-down grid-down">
            <div class="mozaik-text-container">
                <h4 class="mozaik-text"> Fényáteresztő </h4>
                <h4 class="mozaik-text">függöny</h4>
                <br>
                <p> Különleges függöny </p>
            </div>
        </div>
    <div class="thirdCard grid-position-third">
    </div>
    <div class="mozaik-up grid-up">
        <div class="mozaik-text-container">
            <h4 class="mozaik-text">Dekor </h4>
            <h4 class="mozaik-text">és</h4>
            <h4 class="mozaik-text">Sötétitő függöny</h4>
            <p>Exkluzív textilek, méretre varrt dekorfüggönyök</p>
        </div>
    </div>

</div>
