<div class="checkout-container">
    <div class="check-content">
        <h4>Biztonságos Fizetés</h4>
        <div class="check-form">
            <div class="check-basket-header">
                <span id="header-title">1) Adataid</span> <span *ngIf="!isLoggedIn">*kötelező</span>
                <span class="editLink" *ngIf="isLoggedIn" (click)="resetAll()"> szerkesztés</span>
            </div>
            <div class="check-basket-form" *ngIf="!isLoggedIn">
                <a href="">Előzőleg már regisztráltál ? Jelentkezz be itt</a>
                <p>Kérlek add meg a vezetékneved, keresztneved és az email címed</p>
                <form [formGroup]="personalDetailsForm" method="post">
                    <div class="form-group">
                        <label for="lastName"
                        >Vezetéknév <span>*</span></label>
                        <input class="form-control" id="lastName" formControlName="lastName" placeholder=""
                               [ngClass]="{
                    'is-invalid': personalDetailsForm.get('lastName').invalid &&
                    (personalDetailsForm.get('lastName').touched || personalDetailsForm.get('lastName').dirty),'is-valid': personalDetailsForm.get('lastName').valid &&
                    (personalDetailsForm.get('lastName').touched || personalDetailsForm.get('lastName').dirty) }">
                        <div *ngIf=" personalDetailsForm.get('lastName').invalid &&
                    (personalDetailsForm.get('lastName').touched || personalDetailsForm.get('lastName').dirty)"
                             class="invalid-feedback">
                            <div *ngIf="personalDetailsForm.get('lastName').errors.required">Kérlek adj meg egy
                                vezetéknév
                            </div>
                            <div *ngIf="personalDetailsForm.get('lastName').errors.maxlength">Vezetéknév nem lehet
                                hosszabb 15
                                karakternél
                            </div>
                            <div *ngIf="personalDetailsForm.get('lastName').errors.minlength">Vezetéknév nem lehet
                                rövidebb 3
                                karakternél
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="firstName">Keresztnév <span>*</span></label>
                        <input class="form-control"
                               id="firstName"
                               formControlName="firstName"
                               placeholder="" [ngClass]="{'is-invalid': personalDetailsForm.get('firstName').invalid &&
                    (personalDetailsForm.get('firstName').touched || personalDetailsForm.get('firstName').dirty || personalDetailsForm.get('firstName').errors.serverError),
                    'is-valid': personalDetailsForm.get('firstName').valid &&
                    (personalDetailsForm.get('firstName').touched || personalDetailsForm.get('firstName').dirty) }">
                        <div *ngIf=" personalDetailsForm.get('firstName').invalid &&
                    (personalDetailsForm.get('firstName').touched || personalDetailsForm.get('firstName').dirty || personalDetailsForm.get('firstName').errors.serverError)"
                             class="invalid-feedback">
                            <div *ngIf="personalDetailsForm.get('firstName').errors.required">Kérlek adj meg egy
                                keresztnevet
                            </div>
                            <div *ngIf="personalDetailsForm.get('firstName').errors.maxlength">Keresztnév nem lehet
                                hosszabb 15
                                karakternél
                            </div>
                            <div *ngIf="personalDetailsForm.get('firstName').errors.minlength">Keresztnév nem lehet
                                rövidebb 3
                                karakternél
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email">Email <span>*</span></label>
                        <input class="form-control" id="email" formControlName="email" placeholder="" [ngClass]="{
                    'is-invalid': personalDetailsForm.get('email').invalid &&
                    (personalDetailsForm.get('email').touched || personalDetailsForm.get('email').dirty),'is-valid': personalDetailsForm.get('email').valid &&
                    (personalDetailsForm.get('email').touched || personalDetailsForm.get('email').dirty) }">
                        <div *ngIf=" personalDetailsForm.get('email').invalid &&
                    (personalDetailsForm.get('email').touched || personalDetailsForm.get('email').dirty)"
                             class="invalid-feedback">
                            <div *ngIf="personalDetailsForm.get('email').errors.required">Kérlek adj meg egy
                                email címet
                            </div>
                            <div *ngIf="personalDetailsForm.get('email').errors.email">Nem megfelelő email cím
                            </div>
                        </div>
                    </div>
                </form>
                <button class="basket-continue-btn" [disabled]="!personalDetailsForm.valid" (click)="saveDetails()">
                    Tovább a címhez
                </button>
            </div>
            <div class="check-basket-header">
                <span id="header-delivery">2) Számlázási adatok</span>
                <span class="editLink" *ngIf="isFilledAddress && isLoggedIn" (click)="editDeliveryAddress()"> szerkesztés</span>
            </div>
            <form [formGroup]="billingAddressForm" method="post" *ngIf="isLoggedIn && !isFilledAddress">
                <div class="form-group">
                    <label for="company">Cégnév (nem kötelező)</label>
                    <input class="form-control" id="company" formControlName="company"
                           placeholder="">
                </div>
                <div class="form-group">
                    <label for="country">Ország</label>
                    <input class="form-control" id="country"
                           value="{{country}}" disabled
                          >
                </div>
                <div class="form-group">
                    <label for="address">Utca, Házszám <span>*</span></label>
                    <input class="form-control" id="address" formControlName="address" placeholder="Utcanév, házszám">
                </div>
                <div class="form-group">
                    <label for="address2"></label>
                    <input class="form-control" id="address2" formControlName="address2"
                           placeholder="Emelet, lépcsőház, lakás, stb. (nem kötelező)">
                </div>
                <div class="form-group">
                    <label for="city">Város <span>*</span></label>
                    <input class="form-control" id="city" formControlName="city" placeholder="">
                </div>
                <div class="form-group">
                    <label for="province">Megye <span>*</span></label>
                    <select class="form-control" id="province" formControlName="province">
                        <option value="{{prov}}" *ngFor="let prov of this.provinces">{{prov}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="zip">Irányítószám <span>*</span></label>
                    <input class="form-control" id="zip" formControlName="zip" placeholder="">
                </div>
                <div class="form-group">
                    <label for="phone">Telefonszám <span>*</span></label>
                    <input class="form-control" id="phone" formControlName="phone" placeholder="">
                </div>
            </form>
            <div class="underline" *ngIf="isLoggedIn && !isFilledAddress">
                <label class="container">Szállítási másik címre?
                    <input type="checkbox" (click)="setDeliveryAddress()">
                    <span class="checkmark"></span>
                </label>
            </div>
            <form [formGroup]="shippingAddressForm" method="post">
                <div *ngIf="isDifferentAddress && isLoggedIn && !isFilledAddress">
                    <div class="form-group">
                        <label for="shipCompany">Cégnév (nem kötelező)</label>
                        <input class="form-control" id="shipCompany" formControlName="company"
                               placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="shipCountry">Ország</label>
                        <input class="form-control" id="shipCountry"
                               value="Magyarország" disabled>
                    </div>
                    <div class="form-group">
                        <label for="shipAddress">Utca, Házszám <span>*</span></label>
                        <input class="form-control" id="shipAddress" formControlName="address"
                               placeholder="Utcanév, házszám">
                    </div>
                    <div class="form-group">
                        <label for="shipAddress2"></label>
                        <input class="form-control" id="shipAddress2" formControlName="address2"
                               placeholder="Emelet, lépcsőház, lakás, stb. (nem kötelező)">
                    </div>
                    <div class="form-group">
                        <label for="shipCity">Város <span>*</span></label>
                        <input class="form-control" id="shipCity" formControlName="city" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="shipProvince">Megye <span>*</span></label>
                        <select class="form-control" id="shipProvince" formControlName="province">
                            <option *ngFor="let prov of this.provinces">{{prov}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="shipZip">Irányítószám <span>*</span></label>
                        <input class="form-control" id="shipZip" formControlName="zip" placeholder="">
                    </div>
                </div>
                <div class="form-group" *ngIf="isLoggedIn && !isFilledAddress">
                    <label for="info">Rendelés jegyzetek (nem kötelező)</label>
                    <textarea class="form-control" id="info" formControlName="shipInfo"
                              placeholder="Megjegyzések a rendeléssel, szállítással kapcsolatban."></textarea>
                </div>
                <div class="underline" *ngIf="isLoggedIn && !isFilledAddress">
                    <div class="form-group">
                        <label>Szállítási opciók <span>*</span></label>
                        <div *ngFor="let op of this.shippingOptions, let i = index">
                            <label class="container" *ngIf="op.price !== 0 ; else ingyenes">{{op.name}}: {{op.price}} Ft
                                <input class="form-control" type="radio" formControlName="shipMethod"
                                       [checked]="currentlyCheckedShippingOption === op.typeOfDelivery"
                                       (click)="selectShippingOption(op.typeOfDelivery)"
                                       value="{{op.typeOfDelivery}}">
                                <span class="checkmark"></span>
                            </label>
                            <ng-template #ingyenes>
                                <label class="container">{{op.name}} : (ingyenes)
                                    <input class="form-control" type="radio" formControlName="shipMethod"
                                           [checked]="currentlyCheckedShippingOption === op.typeOfDelivery"
                                           (click)="selectShippingOption(op.typeOfDelivery)"
                                           value="{{op.typeOfDelivery}}">
                                    <span class="checkmark"></span>
                                </label>
                            </ng-template>
                        </div>
                    </div>
                </div>
                <div class="underline" *ngIf="currentlyCheckedShippingOption === 'FOX' && !isPayment">
                    <label for="fox">Válasszon csomagautomatát <span>*</span></label>
                    <select class="form-control" id="fox" formControlName="foxpost">
                        <optgroup *ngFor="let atp of this.atpList" label="{{atp.city}}">
                            <option *ngFor="let a of atp.names" value="{{a}}">{{a}}</option>
                        </optgroup>
                    </select>
                </div>
            </form>
            <button class="basket-continue-btn" *ngIf="isLoggedIn && !isPayment"
                    (click)="continueToPayment() ; saveBillingInfo()">
                Tovább a
                fizetéshez
            </button>
            <div class="check-basket-header">
                <span id="header-payment">3) Fizetési opciók</span>
            </div>
            <div *ngFor="let opt of this.paymentOptions">
                <label class="container" *ngIf="isPayment && isLoggedIn">{{opt.type}} <span
                    *ngIf="opt.price !=0"> (+{{opt.price}} Ft)</span>
                    <input class="form-control" type="radio"
                           [checked]="currentlyCheckedPayingOption === opt.type"
                           (click)="selectPayingOption(opt)"
                           value="">
                    <span class="checkmark"></span>
                </label>
            </div>
            <div *ngIf="isPayment && isLoggedIn">
                <h4 *ngIf=" this.currentlyCheckedPayingOption==='Előre utalás'" class="payment card-group">
                    Fizetés közvetlenül a bankszámlánkra. A megjegyzés rovatban tüntessük fel a számlasorszámot. A
                    kiszállítás az összeg beérkezését követően történik.
                </h4>
                <h4 *ngIf="this.currentlyCheckedPayingOption==='Készpénzes fizetés'" class="payment card-group">
                    Fizetés a boltban személyes átvételkor.
                </h4>
                <h4 *ngIf="this.currentlyCheckedPayingOption==='Utánvétes fizetés'" class="payment card-group">
                    Fizetés átvételkor automatánál vagy futárnak.
                </h4>
            </div>
            <div *ngIf="isPayment && isLoggedIn">
                <div class="card-group payment"
                     *ngIf="this.currentlyCheckedPayingOption === 'Barion bankkártyás fizetés'">
                    <img
                        class="paymentOptions"
                        src="https://tapetakorzo.hu/wp-content/plugins/pay-via-barion-for-woocommerce/assets/barion-card-payment-mark-2017-300px.png"
                        alt="barion bankkártyás fizetés">
                    <h4>Fizess Barionon keresztül. Fizess bankkártyával, nem kötelező regisztrálni!</h4>
                </div>
            </div>
            <button class="basket-continue-btn" (click)="createOrderRequest()"
                    data-toggle="modal" data-target="#orderModel"
                    *ngIf="isLoggedIn && isPayment">
                Megrendelés elküldése
            </button>
        </div>
    </div>
    <div class="checkout-basket">
        <div class="chk-bsk">
            <div class="check-basket-header"><span id="header-title2">Rendelés Összesítés</span></div>
            <div *ngFor="let prod of products">
                <div class="check-card">
                    <img [src]="prod.image" alt="">
                    <div class="check-basket-details">
                        <p>{{prod.name}}</p>
                        <p>Termék Kód : {{prod.itemNumber}}</p>
                        <p>Mennyiség : {{prod.qty}} {{prod.typeOfSize}}</p>
                        <p>Ár : {{prod.price * prod.qty}} ft</p>
                    </div>
                </div>
                <div class="checkout-action">
                </div>
            </div>
            <table class="checkout-table">
                <tbody>
                    <tr>
                        <td>Termék árak:</td>
                        <td class="td-right">{{allTotal}} Ft</td>
                    </tr>
                    <tr>
                        <td>Szállitási dij:</td>
                        <td class="td-right">{{actualDeliveryPrice}} Ft</td>
                    </tr>
                    <tr>
                        <td>Adó (Szállitással):</td>
                        <td class="td-right">{{allTotal + actualDeliveryPrice + selectedPayingOption?.price }} Ft</td>
                    </tr>
                </tbody>
            </table>
            <div *ngIf="isFilledAddress">
                <div class="check-basket-header"><span id="header-billing-address">Számlázási cím</span></div>
                <table class="checkout-table">
                    <tbody>
                        <tr>
                            <td>{{personalDetails.lastName + ' ' + personalDetails.firstName}}</td>
                        </tr>
                        <tr>
                            <td>{{this.billingDetails.address}}</td>
                        </tr>
                        <tr>
                            <td>{{this.billingDetails.zip + ', ' + this.billingDetails.city}}</td>
                        </tr>
                        <tr>
                            <td>{{country}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div *ngIf="isFilledAddress">
                <div class="check-basket-header"><span id="header-delivery-address">Szállítási cím</span></div>
                <table class="checkout-table">
                    <tbody>
                        <tr>
                            <td>{{personalDetails.lastName + ' ' + personalDetails.firstName}}</td>
                        </tr>
                        <tr>
                            <td>{{this.shippingDetails.address}}</td>
                        </tr>
                        <tr>
                            <td>{{this.shippingDetails.zip + ', ' + this.shippingDetails.city}}</td>
                        </tr>
                        <tr>
                            <td>{{country}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


