<div class="checkout-container">
  <div class="check-content">
    <h4>Biztonságos Kifizetés</h4>
    <div class="check-form">
      <div class="check-basket-header">
        <p *ngIf="!isLoggedIn">1) Kosarad</p> <span *ngIf="!isLoggedIn">*kötelező</span>
      </div>
      <div class="check-basket-form" *ngIf="!isLoggedIn">
        <a href="">Előzőleg már regisztráltál ? Jelentkezz be itt</a>
        <form [formGroup]="shippingForm" method="post">
          <input formControlName="firstName">
        </form>
      </div>
    </div>
  </div>
  <div class="checkout-basket">
    <div class="chk-bsk">
      <div class="check-basket-header"><p>Rendelés Összesités</p></div>
      <div *ngFor="let prod of product">
        <div class="check-card">
          <img [src]="prod.image" alt="">
          <div class="check-basket-details">
            <p>{{prod.productDesc}}</p>
            <p>Termék Kód : {{prod.id}}</p>
            <p>Size : roll</p>
            <p>Ár : {{prod.price}} ft</p>
          </div>
        </div>
        <div class="checkout-action">
        </div>
      </div>
      <table class="checkout-table">
        <tbody>
        <tr>
          <td>Termék árak:</td>
          <td class="td-right">{{allTotal}} Ft</td>
        </tr>
        <tr>
          <td>Szállitási dij:</td>
          <td class="td-right">{{allTotal}} Ft</td>
        </tr>
        <tr>
          <td>Adó (Szállitással):</td>
          <td class="td-right">{{allTotal}} Ft</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

