*:focus {
    outline: none;
}

.checkout-container {
    display: grid;
    grid-template-columns: minmax(auto, 1fr) minmax(500px, 1.5fr) minmax(300px, 1fr) minmax(auto, 1fr);
    grid-template-areas: 'a b c d ';
    margin-bottom: 50px;
}

.check-content {
    grid-area: b;
}

h4 {
    display: block;
    margin-top: 20px;
    font-size: 1rem;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;

}

.check-content > h4 {
    margin-top: 30px;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    font-weight: bolder;
    font-size: 2rem;
}

.checkout-basket {
    grid-area: c;
    align-self: start;
    position: sticky;
    top: 70px;
}

img {
    grid-area: a;
    width: 100px;
    height: 100px;
    margin: 20px 0px;
}

.chk-bsk {
    margin-top: 30px;
    width: 350px;
    padding: 22px 18px 29px 17px;
    border: 1px solid #b2b2b1;
    box-sizing: border-box;
    margin-bottom: 50px;
}

.check-basket-header {
    display: flex;
    width: 100%;
    padding: 0 20px;
    margin-top: 30px;
    box-sizing: border-box;
    background-color: #f3f3f4;
    color: var(--primaryLetterBlack);
    height: 50px;
    text-transform: uppercase;
    align-items: center;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    font-weight: bolder;
}

.check-basket-header > span {
    font-size: .7rem;
    margin-left: auto;
}

.invalid-feedback {
    margin-left: 10px;
}

label {
    font-weight: bold;
    margin-left: 10px;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
}

label > span {
    color: red;
}

.container > span {
    color: var(--primaryLetterBlack);
}

.form-group {
    margin-top: 20px;
}

.underline {
    margin: 32px 0 0 0;
    padding: 32px 0 0 0;
    border-top: 3px solid #f3f3f4;
    width: 350px;
}

.address-dropdown {
    border-radius: 25px;
    border: 1px solid var(--primaryGray);
    padding: 20px;
    width: 300px;
    height: 15px;
}

select {
    max-height: 3em;
}

.form-control {
    border-radius: 25px;
}

.basket-continue-btn {
    margin-top: 20px;
    background: var(--primaryGreen);
    width: 300px;
    border-radius: 25px;
    border: 1px solid var(--primaryGreen);
    padding: 7px;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    font-size: 1.2rem;
    font-weight: bold;
}

#header-title, #header-title2, #header-delivery, #header-payment, #header-delivery-address, #header-billing-address {
    font-size: 1rem;
    margin: 0px;
}

.editLink {
    cursor: pointer;
    color: dodgerblue;
}

.check-basket-details {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 20px;
}

.checkout-table {
    font-size: .9rem;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    margin-top: 10px;
    margin-left: 20px;

}

.check-basket-details > p, .check-basket-recapitulative > p {
    margin: 0px;
    overflow: hidden;
    white-space: initial;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    font-weight: bolder;
    font-size: 1rem;
    color: var(--primaryLetterBlack);
}

.check-card {
    display: flex;
}

.checkout-action {
    border-top: 3px solid #f3f3f4;
}

.td-right {
    text-align: right;
}

.check-form {
    width: 400px;
}

.check-basket-form > a, p {
    display: block;
    margin-top: 20px;
    font-family: Palatino, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    font-weight: bold;
}

.container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-top: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}

.container:hover input ~ .checkmark {
    background-color: var(--primaryGray);
}

.container input:checked ~ .checkmark {
    background-color: var(--primaryGreen);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    top: 7px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: black;
}

.paymentOptions {
    width: 350px;
    height: auto;
    margin: 0px;
}

.payment {
    border: 1px solid var(--primaryGray);
    margin-top: 20px;
}

.card-group {
    padding: 20px;
}

#CVV2 {
    margin: 0px;
    width: 200px;
}

.cvv-flex {
    display: flex;
}

#cvv2-image {
    margin: 0 0 0 10px;

    max-width: 100%;
    height: auto;
}
