<div class="products-header-container">
  <div class="nav-container" *ngIf="this.navToShow">
    <div><a href="">Home</a></div>
    <div><span>/</span></div>
    <div><a href="">Wallpaper</a></div>
    <div><span>/</span></div>
    <div><a href="">ByValami</a></div>
    <div><span>/</span></div>
    <div><a href="">Blue</a></div>
  </div>
  <div class="desc-container">
    <div class="grid-container">
      <div class="grid-left-line"></div>
      <div class="grid-content"><h1>BRICK & WOOD EFFECT WALLPAPER</h1></div>
      <div class="grid-right-line"></div>
    </div>
  </div>
</div>
