<div class="nav-container" *ngIf="this.screenControl.largeScreen">
  <p-breadcrumb [model]="items" [home]="home" ></p-breadcrumb>
</div>
<div class="desc-container">
  <div class="grid-container">
    <div class="grid-left-line"></div>
    <div class="grid-content"><h1>BRICK & WOOD EFFECT WALLPAPER</h1></div>
    <div class="grid-right-line"></div>
  </div>
</div>
<div class="desc-container">
  <div class="long-desc"><p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad asperiores assumenda distinctio impedit laboriosam libero qui quos unde voluptas voluptate? At cupiditate fuga magni necessitatibus possimus quia rem tenetur, voluptatem!</span><span>Amet animi aspernatur atque consequuntur corporis cumque dolor ea error esse ex fuga fugiat fugit hic incidunt inventore iure non nulla officia possimus provident quibusdam, repellat sint sit tenetur veniam.</span><span>Accusantium commodi consequatur cumque dolor dolore doloremque ducimus explicabo facere fugit incidunt ipsam, ipsum minima molestiae necessitatibus nemo odio officiis porro quam quod quos ratione reiciendis rerum sint tempora voluptate.</span>
  </p></div>
</div>
